<div class="col-lg-6"  ng-controller="ServiceUserCertificateFormController as formCtrl">
	<div class="panel panel-default">
		<div class="panel-body">
			<form class="form-horizontal" role="form" ng-show="formCtrl.authenticated" novalidate>
				<div class="form-group" ng-hide="isEmpty(formErrors.general)">
					<label class="col-sm-3 control-label">&nbsp;</label>

					<div class="col-sm-8">
						<p id="alert" class="alert alert-danger" ng-repeat="error in formErrors.general">{{error}}</p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">&nbsp;</label>

					<div class="col-sm-8">
						<menu-item image="'security.png'" header="'Certificate'" description="'for service user'"> </menu-item>
					</div>
				</div>

				<orderform-environment-classes 
					model="formCtrl.settings.environmentClass"
					on-select="formCtrl.changeEnvironmentClass()">
				</orderform-environment-classes>
				
				<orderform-zones model="formCtrl.settings.zone"></orderform-zones>
				
				<orderform-applications
                           model="formCtrl.settings.application"
                           applications-only="true"
                           show-validation="form.$submitted"
                           on-select="formCtrl.changeApplication()">
                   </orderform-applications>


				<hr />
				<div class="form-group">
					<p class="alert alert-warning" ng-show="formCtrl.isInFasit">Denne ressursen finnes allerede i Fasit. En ny bestilling vil kreve en redeploy
						av applikasjoner som bruker dette sertifikatet.</p>
					<label class="col-sm-3 control-label" ng-class="{busy: busies.orderSend}">&nbsp;</label>
					<div class="col-sm-8">
						<button id="sendButton" class="btn btn-success pull-right" 
						ng-click="formCtrl.submitOrder()" 
						type="button">Bestill
						</button>

					</div>
				</div>
			</form>
			<div ng-hide="formCtrl.authenticated" class="alert alert-danger">Ikke autentisert</div>
		</div>
	</div>

</div>



