<div class="form-group" ng-form="subForm">
    <label class="col-sm-3 control-label">{{ctrl.label}} <i ng-show="ctrl.superuser" ng-click="ctrl.toogleSuperuser()" class="fa fa-pencil-square-o"></i></label>

    <div class="col-sm-8">
        <ui-select theme="bootstrap" on-select="ctrl.onSelect()" ng-model="ctrl.data" ng-required="!ctrl.inSuperUserMode" ng-hide="ctrl.inSuperUserMode">
            <ui-select-match id="number" placeholder="Velg ..">
                <span ng-bind-html="$select.selected"></span>
            </ui-select-match>
            <ui-select-choices repeat="val in ctrl.choices | filter: $select.search">
                 <div ng-bind-html="val | highlight: $select.search"> </div>
            </ui-select-choices>
        </ui-select>
        
        <div class="input-group" ng-show="ctrl.inSuperUserMode">
        	<span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>
        	<input class="form-control" ng-model="ctrl.data"  type="text" ng-required="ctrl.inSuperUserMode"></input>
        </div> 
    </div>
      <div class="col-sm-1" ng-show="ctrl.showValidation">
        <orderform-validation type="success" ng-show="subForm.$valid"></orderform-validation>
        <orderform-validation type="warning" validation-text="'Fyll inn data'" ng-show="subForm.$invalid"></orderform-validation>
    </div>
</div>
