<div class="form-group" ng-form="subForm" >
	<label class="col-sm-3 control-label">{{ctrl.label}}
	 <a class="tooltipped" data-toggle="tooltip" data-placement="right" ng-show="ctrl.tooltip" >
                        <i class="fa fa-question-circle"></i>
                    </a>
                    <div class="tooltip-content hide">
                        <div class="panel panel-info">
                            <div class="panel-heading"></i> {{ctrl.label}}</div>
                            <div class="panel-content">
                                <div>
                                    <p class=" text-primary">{{ctrl.tooltip}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
	</label>
	<div class="col-sm-8">
		<div class="input-group">
			<input class="form-control" ng-model="ctrl.model" type="text" ng-maxlength="ctrl.maxLength" ng-minLength="ctrl.minLength" 
			ng-pattern="ctrl.pattern" ng-disabled="!ctrl.inEditMode" ng-required="true" /> 
			<span class="input-group-btn"> 
				<a class="btn btn-default" ng-click="ctrl.toggleEditMode()"> <i class="fa fa-fw fa-lg"
						ng-class="{'fa-pencil': !ctrl.inEditMode,  'fa-undo' :ctrl.inEditMode }"></i>
				</a>
			</span>
		</div>
	</div>

	<div class="col-sm-1" ng-show="ctrl.showValidation || ctrl.inEditMode && !subForm.$pristine">
		<orderform-validation type="success" ng-show="subForm.$valid"></orderform-validation>
		<orderform-validation type="warning" validation-text="ctrl.validationMessage" ng-show="subForm.$invalid"></orderform-validation>
	</div>
</div>