<div class="form-group">
    <label class="col-sm-3 control-label" ng-class="{busy: busies.orderSend}">&nbsp;</label>

    <div class="col-sm-8">

        <div class="btn-group pull-right">
            <button id="undo"
                    class="btn btn-primary"
                    ng-show="ctrl.submitEditedData"
                    ng-click="ctrl.data=null">Tilbake til skjema
            </button>
            <button id="editor"
                    class="btn btn-warning"
                    ng-click="ctrl.editor()"
                    type="submit"
                    ng-show="ctrl.superuser && !ctrl.submitEditedData">Editor
            </button>
            <button id="submitEditData"
                    ng-disabled="orderSent"
                    ng-show="ctrl.submitEditedData"
                    class="btn btn-success"
                    ng-click="ctrl.submitEdited()"
                    type="submit">Bestill XML
            </button>
            <button id="submitOrder"
                    ng-disabled="orderSent"
                    class="btn btn-success"
                    ng-hide="ctrl.submitEditedData"
                    ng-click="ctrl.submit()"
                    type="submit">Bestill
            </button>
        </div>
    </div>
</div>