<div class="panel-group" id="requestPanel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">
                <i class="fa fa-list-alt"/>
                <a data-toggle="collapse" data-parent="#requestPanel" href="#requestContent"
                   onclick="return false;">
                    Request
                </a>
                    <span class="pull-right">
                        <button class="panel-header-button btn btn-info btn-xs"
                                ng-show="currentUser.authenticated && orderDetails.orderOperation == 'CREATE' && hasEnvironmentClassAccess()"
                                ng-click="copyOrder()">
                            <i class="fa fa-copy"/>
                            Copy
                        </button>
                    </span>
            </h2>
        </div>
        <div id="requestContent" class="panel-collapse collapse in">
            <ul id="requestContentTabs" class="nav nav-tabs">
                <li class="active"><a href="#overview" data-toggle="tab" onclick="return false;"><i
                        class="fa fa-list-alt"/> Overview</a></li>
                <li><a href="#form" data-toggle="tab" onclick="return false;"><i
                        class="fa fa-list-alt"/> Form</a></li>
                <li><a href="#xml" data-toggle="tab" onclick="return false;"><i class="fa fa-code"/>
                    External request</a>
                </li>
            </ul>
            <div id="tabContent" class="tab-content">
                <div class="tab-pane fade in active" id="overview">
                <table class="table">
                <thead></thead>
                <tbody>
                <tr>
                    <th class="col-lg-3">Order status</th>
                    <td class="col-lg-9"> <span class="label-radius alert alert-sm" ng-class="{'alert-danger' : orderDetails.status === 'ERROR' || orderDetails.status==='FAILURE',
                                     'alert-warning' : orderDetails.status === 'WARNING',
                                     'alert-info' : orderDetails.status === 'PROCESSING' || orderDetails.status ==='NEW',
                                     'alert-success' : orderDetails.status === 'SUCCESS'}">
                       <i class="fa fa-fw"  ng-class="
                                       {'fa-exclamation-triangle': orderDetails.status === 'ERROR' || orderDetails.status==='FAILURE',
                                       'fa-flag': orderDetails.status === 'WARNING',
                                       'fa-check': orderDetails.status === 'SUCCESS',
                                       'fa-refresh': orderDetails.status === 'PROCESSING' || orderDetails.status ==='NEW'
                                       }
                                     "/>
                                      {{orderDetails.status}}
                    </span></td>
                </tr>
                <tr>
                    <th>Created by</th>
                    <td ng-show="orderDetails.createdByDisplayName">{{orderDetails.createdByDisplayName}}
                        ({{orderDetails.createdBy}})
                    </td>
                    <td ng-hide="orderDetails.createdByDisplayName">{{orderDetails.createdBy}}</td>
                </tr>
                <tr>
                    <th>Created date</th>
                    <td>{{orderDetails.created|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                </tr>
                <tr>
                    <th class="col-lg-3">External ID</th>
                    <td class="col-lg-9">{{orderDetails.externalId}}</td>
                </tr>
                </tbody>
                </table>
                </div>
                <div class="tab-pane fade in" id="form">
                    <table class="table">
                        <thead></thead>
                        <tbody>
                        <tr ng-repeat="(key, value) in orderDetails.input" ng-show="value">
                            <th class="col-lg-3">{{key}}</th>
                            <td class="col-lg-9">{{value}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade in" id="xml">
                    <ace-editor ng-model="orderDetails.externalRequest" theme="chrome" fontsize=12
                                readonly=true></ace-editor>
                </div>
            </div>
        </div>
    </div>
</div>