.switch {
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    text-align: left;
    overflow: hidden;
    line-height: 8px;
    min-width: 50px;
}

.switch.disabled > div > span.knob {
    background: #AAA;
}

.switch span {
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 100%;
    line-height: 28px;
    padding: 1px;
    text-align: center;
    width: 33%;
    white-space: nowrap;

    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.tiny {
    line-height: 20px !important
}
.switch-label {

    display: inline-block;
    float: left;
    height: 100%;
    line-height: 20px;
    padding: 1px 10px 1px 1px;
    text-align: right;
    font-size: smaller;
}

.switch > div {
    position: relative;
    width: 150%;
}

.switch .knob {
    background: red;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #f5f5f5;
    width: 34%;
    z-index: 100;
}

.switch .switch-on {
    left: 0%;
}

.switch .switch-off {
    left: -50%
}

.switch .swtich-left, .switch .switch-right {
    z-index: 1;
}

.switch-success {
    color: #f0f0f0;
    background: #47a447;
}

.switch-warning {
    background: #ef9c29;
    color: #f0f0f0;
}

.switch-lighter {
    background: #7bacd1;
    color: #f0f0f0;
}

.switch-info {
    background: #5ac6de;
    color: #f0f0f0;
}

.switch-primary {
    background: #428cce;
    color: #428cce;
}

.switch-darker {
    background: #4c5b6a;
    color: #4c5b6a;
}

.switch-animate {
    transition: left 0.5s;
    -o-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -webkit-transition: left 0.5s;
}
