<div class="panel-group" id="logPanel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">
                <i ng-hide="polling" class="glyphicon  glyphicon-transfer"/>
                <i ng-show="polling" class="fa fa-spin fa-refresh"/>
                <a data-toggle="collapse" data-parent="#logPanel" href="#logContent"
                   onclick="return false;">
                    Log
                </a>
                                <span class="pull-right">
                                <button ng-hide="polling" class="panel-header-button btn btn-info btn-xs" ng-click="startPoll()">
                                    <i class="fa fa-video-camera"/>
                                    Start monitoring
                                </button>
                                <button ng-show="polling" class="panel-header-button btn btn-success btn-xs " ng-click="stopPoll()">
                                    <i class="fa fa-spin fa-refresh"></i>
                                    Monitoring
                                    <timer ng-show="polling" countdown="from" interval=1000 autostart="false"
                                           max-time-unit="'minute'">
                                        {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}
                                    </timer>
                                </button>
                                </span>


            </h2>
        </div>
        <div id="logContent" class="panel-collapse collapse in">
            <div class="panel-body" ng-show="statusLog.length===0">
                (None)
            </div>
            <table class="table" ng-hide="statusLog.length===0"
                   ng-init="predicate = 'created'; reverse = true">
                <thead>
                <tr>
                    <td class="col-sm-1">

                        <a ng-click="reverse = predicate == (predicate = 'option') && !reverse"
                           class="btn btn-primary">
                            <i class="fa" ng-class="
                                                        {'fa-sort-amount-asc': !reverse ,
                                                         'fa-sort-amount-desc': reverse
                                                         }"/>
                        </a>

                    <td class="col-sm-3">
                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <a ng-click="reverse = predicate == (predicate = 'created') && !reverse"><i
                                                        class="fa fa-clock-o"/></a>
                                            </span>
                            <input ng-model="searchDate" class="form-control" placeholder="Timestamp">
                        </div>
                    </td>
                    <td class="col-sm-2">
                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <a ng-click="reverse = predicate == (predicate = 'source') && !reverse"><i
                                                        class="fa fa-globe"/></a>
                                            </span>
                            <input ng-model="search.source" class="form-control" placeholder="Source">
                        </div>
                    </td>
                    <td class="col-sm-2">
                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <a ng-click="reverse = predicate == (predicate = 'type') && !reverse"><i
                                                        class="fa fa-tag"/></a>
                                            </span>
                            <input ng-model="search.type" class="form-control" placeholder="Phase">
                        </div>
                    </td>
                    <td class="col-sm-4">
                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <a ng-click="reverse = predicate == (predicate = 'text') && !reverse"><i
                                                        class="fa fa-comment"/></a>
                                            </span>
                            <input ng-model="search.text" class="form-control" placeholder="Message">
                        </div>
                    </td>

                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="log in statusLog | orderBy:predicate:reverse | filter:search | filter:filterDate"
                    ng-class="{'danger': log.option === 'error',
                                               'warning': log.option === 'warning',
                                               'success': log.option === 'success'}">
                    <td><icon-status status-text="log.option"></icon-status></td>
                    <td>{{log.created|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{log.source}}</td>
                    <td>{{log.type}}</td>
                    <td class="break-word">{{log.text}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>