<div >
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" role="form" ng-controller="ServiceUserCertificateFormController as formCtrl">
                    <div class="form-group" ng-hide="isEmpty(formErrors.general)">
                        <label class="col-sm-3 control-label">&nbsp;</label>

                        <div class="col-sm-8">
                            <p id="alert" class="alert alert-danger" ng-repeat="error in formErrors.general">
                                {{error}}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">&nbsp;</label>

                        <div class="col-sm-8">
							<menu-item image="'security.png'" header="'Service user'" description="'certificate'"> </menu-item>
						</div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Milj&oslash;klasse</label>

                        <div class="col-sm-8 btn-group" id="environmentClass">
                            <button type="button" class="btn btn-small btn-primary"
                                    ng-repeat="environmentClass in formCtrl.choices.environmentClasses"
                                    ng-model="formCtrl.settings.environmentClass"
                                    ng-class="{active: environmentClass === formCtrl.settings.environmentClass}"
                                    ng-click="formCtrl.changeEnvironmentClass(environmentClass)"
                                    ng-disabled="!formCtrl.hasEnvironmentClassAccess(environmentClass)">
                                {{formCtrl.choices.environmentClassNames[environmentClass]}}
                            </button>
                        </div>
                    </div>


                    <div class="form-group" >
                        <label for="zones" class="col-sm-3 control-label">Sone</label>

                        <div class="col-sm-8 btn-group" id="zones">
                            <button type="button" class="btn btn-small btn-primary" 
                            		ng-repeat="zone in formCtrl.choices.zones"
                                    ng-model="formCtrl.settings.zone" 
                                    ng-class="{active: zone === formCtrl.settings.zone}"
                                    ng-click="formCtrl.changeZone(zone)">
                                {{zone}}
                            </button>
                        </div>
                    </div>

                    <div class="form-group" >
                        <label class="col-sm-3 control-label">Applikasjon</label>
                        <div class="col-sm-8">
                            <ui-select theme="bootstrap" ng-change="formCtrl.changeApplication()"
                                       ng-model="formCtrl.settings.application">
                                <ui-select-match id="applicationMappingName" placeholder="Velg applikasjon...">
                                    {{$select.selected.name}}
                                    <i ng-show="busies.applicationMappingName" class="fa fa-spin fa-refresh"></i>
                                </ui-select-match>
                                <ui-select-choices  repeat="app.name as app in formCtrl.choices.applications | filter: $select.search">
                                    <div ng-bind-html="app.name | highlight: $select.search">H</div>
                                    <small ng-hide="app.applications === undefined"
                                           ng-bind-html="app.applications"></small>
                                </ui-select-choices>
                            </ui-select>
                           
                        </div>
                    </div>

                    <hr/>
                    <div class="form-group">
                     <p ng-show="formCtrl.formCompleted() && formCtrl.isInFasit" class="alert alert-warning">Denne ressursen finnes allerede i Fasit. 
                     En ny bestilling vil kreve en redeploy av applikasjoner som bruker dette sertifikatet.</p>
                        <label class="col-sm-3 control-label" ng-class="{busy: busies.orderSend}">&nbsp;</label>
                          <div class="col-sm-8" >
                            <button id="sendButton" ng-disabled='!formCtrl.formCompleted()'  class="btn btn-success pull-right"
                                    ng-click="formCtrl.submitOrder()"
                                    type="button">Bestill
                            </button>
                           
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


