<!doctype html>
<html lang="en" ng-app="skyBestApp">
<head>
  <meta charset="iso-8859-1">
  <title>Bestillingsportal til skya</title>
  <link rel="stylesheet" href="lib/select2-3.4.2/select2.css"/>
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/select2-bootstrap.css"/>
  <link rel="stylesheet" href="css/main.css"/>
</head>
<body ng-controller="mainController">
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li><a href="#/">Front</a></li>
        <li><a href ng-click="createOrder()">Lag en ny bestilling</a></li>
        <li><a href="#/about">about</a></li>
      </ul>
      <!-- button ng-click='clearCache()' type="button" class="btn pull-right" >Clear cache</button-->
      <ul class="nav pull-right" ng-hide="userForm">
      	<li>
      		<i class="icon-user"></i> 
      		<span ng-show="currentUser.authenticated" class="navbar-text">{{ currentUser.username }}</span>
      		<span ng-hide="currentUser.authenticated" class="navbar-text">Ikke innlogget</span>
   		</li>
      	<li ng-hide="currentUser.authenticated"><button ng-click="showLogin()" class="btn btn-link">Logg inn</button></li>
      	<li ng-show="currentUser.authenticated"><button ng-click="logout()" class="btn btn-link">Logg ut</a></li>
      </ul>
	  <form ng-show="userForm" ng-submit="login()" class="navbar-form pull-right">
	  	<input type="text" autofocus="autofocus" ng-model="userForm.username" class="span2"/>
	  	<input type="password" ng-model="userForm.password" class="span2"/>
	  	<input type="submit" class="btn btn-primary" value="Send"/>
	  </form>
    </div>
  </div>

  <div class="alert alert-error" ng-show="userForm.error">{{userForm.error}}</div>
  
  <div ng-view></div>

  <script src="lib/jquery-1.10.2.min.js"></script>
  <script src="lib/select2-3.4.2/select2.min.js"></script>
  <script src="lib/select2-3.4.2/select2_locale_no.js"></script>
  <script src="lib/xml2json/xml2json.min.js"></script>
  <script src="lib/underscore/underscore-min.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular/angular-resource.min.js"></script>
  <script src="lib/angular/ui-bootstrap-tpls-0.6.0.min.js"></script>
  <script src="lib/angular/select2.js"></script>

  <script src="js/app.js" charset="iso-8859-1"></script>
  <script src="js/main_controller.js" charset="iso-8859-1"></script>
  <script src="js/order_form_controller.js" charset="iso-8859-1"></script>
  <script src="js/order_list_controller.js" charset="iso-8859-1"></script>
</body>
</html>