<span>
<div id="modal" class="modal fade">
    <form name="modalform">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>{{ctrl.header}}</h3>
                </div>
                <div class="modal-body">
                    <p>{{intro}}</p>
                    <strong>{{ctrl.message}}</strong>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal" ng-click="ok()">OK</button>
                    <button class="btn" data-dismiss="modal" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
</span>