<!--

* Only utv can choose count/size/disk/osv
* Size field
* Count field
* Change name of "Lag template" > "Lag tjeneste"
* Template is attached to type (but not "applikasjons-platform"), and application.

* Expire; default utv/qa/test = 1y, prod = 10y
-->

<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span8">
        <label>Bestillingsskjema</label>
        <div class="well">
          <form class="form-horizontal">
            <fieldset>

              <!-- Milj&oslash; klasse -->
              <div class="control-group">
                <label for="environmentClass" class="control-label">Milj&oslash; klasse</label>
                <div class="controls">

                  <button type="button" class="btn btn-small pull-right"
                    ng-model="order.advancedEnabled" btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>Avansert</button>

                  <div class="btn-group" id="environmentClass">
                    <button type="button" class="btn btn-small" ng-model="order.environmentClass" ng-disabled="formsDisabled" btn-radio="'utv'">utv</button>
                    <button type="button" class="btn btn-small" ng-model="order.environmentClass" ng-disabled="formsDisabled" btn-radio="'test'">test</button>
                    <button type="button" class="btn btn-small" ng-model="order.environmentClass" ng-disabled="formsDisabled" btn-radio="'qa'">qa</button>
                    <button type="button" class="btn btn-small" ng-model="order.environmentClass" ng-disabled="formsDisabled" btn-radio="'prod'">prod</button>
                  </div>
                  <p class="help-block">
                    I hvilket milj&oslash; tilh&oslash;rer bestillingen din?
                  </p>
                </div>
              </div>

              <div class="control-group highlight">
                <label for="type" class="control-label">Type</label>
                <div class="controls">
                  <div class="btn-group" id="type">
                    <button type="button" class="btn btn-small" ng-model="order.orderType" ng-disabled="formsDisabled" btn-radio="'applicationPlatform'">Applikasjons-platform</button>
                    <button type="button" class="btn btn-small" ng-model="order.orderType" ng-disabled="formsDisabled" btn-radio="'infrastructureService'">Infrastruktur tjeneste</button>
                    <button type="button" class="btn btn-small" ng-model="order.orderType" ng-disabled="formsDisabled" btn-radio="'offtheshelf'">Hyllevare</button>
                  </div>
                  <p class="help-block">
                    Hvordan type bestilling er dette?
                  </p>
                </div>
              </div>


              <!-- Application -->
              <div class="control-group highlight">
                <label for="application" class="control-label">Applikasjon</label>
                <div class="controls">

                  <!-- UTV & applikasjonsplattform -->
                  <!--
                  <div ng-show="order.environmentClass == 'utv' && order.orderType == 'applicationPlatform'">
                    <input type="text" id="application" ng-disabled="formsDisabled" ng-model="order.application" />
                    <p class="help-block">
                      Appliksjonen skrives inn manuelt n&aring;r milj&oslash;et er UTV og det er en Applikasjons-platform som type.
                    </p>
                  </div>
                -->

                  <!-- applikasjonsplattform -->
                  <div ng-show="order.orderType == 'applicationPlatform'">
                    <!--
                    <select id="application" class="span12" ng-disabled="formsDisabled" ui-select2="select2Options" ng-model="order.application">
                      <option value="app1">app1</option>
                      <option value="app2">app2</option>
                      <option value="app3">app3</option>
                    </select>
                  -->
                  <select id="application" class="span12" ng-disabled="formsDisabled" ui-select2="select2Options" ng-model="order.application">
                    <option ng-repeat="application in applications" value="{{ application.name }}">{{ application.name }}</option>
                  </select>

                    <p class="help-block">
                      Applikasjon m&aring; velges fra en liste populert av env-config (Fasit), n&aring;r milj&oslash;et ikke er UTV men du har valgt Applikasjons-platform som type.
                    </p>
                  </div>

                  <!-- Infrastruktur tjeneste -->
                  <div ng-show="order.orderType == 'infrastructureService'">
                    <select id="application" class="span12" ng-disabled="formsDisabled" ui-select2="select2Options" ng-model="order.application">
                      <option value="openam">OpenAM</option>
                      <option value="was">WAS</option>
                    </select>
                    <p class="help-block">

                    </p>
                  </div>

                  <!-- Hyllevare -->
                  <div ng-show="order.orderType == 'offtheshelf'">
                    <select id="application" class="span12" ng-disabled="formsDisabled" ui-select2="select2Options" ng-model="order.application">
                      <option value="confluence">Confluence</option>
                    </select>
                    <p class="help-block"></p>
                  </div>
                </div>
              </div>

              <!-- Miljø ID -->
              <div class="control-group">
                <label for="environmentID" class="control-label">Milj&oslash; ID</label>
                <div class="controls">

                  <!-- UTV -->
                  <div ng-show="order.environmentClass == 'utv'">
                    <input type="text" id="environmentID" ng-disabled="formsDisabled" ng-model="order.environmentID" />
                    <p class="help-block">
                      Siden du har valgt utv milj&oslash; kan du selv skrive inn hva du vil kalle milj&oslash;et ditt.
                    </p>
                  </div>

                  <!-- Non UTV -->
                  <div ng-show="order.environmentClass != 'utv'">
                    <select id="environmentID" class="span12" ng-disabled="formsDisabled" ui-select2="select2Options" ng-model="order.environmentID">
                      <option ng-repeat="environment in environments" value="{{ environment.name }}">{{ environment.name }}</option>
                    </select>
                    <p class="help-block">
                      Alle milj&oslash;er utenom UTV har spesifikke milj&oslash; ID'er
                    </p>
                  </div>

                </div>
              </div>

              <!-- Servere - Antall -->
              <div class="control-group" ng-show="!order.advancedEnabled">
                <label for="multisite" class="control-label">Antall servere</label>
                <div class="controls">
                  <select id="serverCountDropdown" class="span2" ng-disabled="formsDisabled" ui-select2="select2Options" ng-model="serverCountDropdown">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="4">4</option>
                    <option value="8">8</option>
                  </select>
                  <p class="help-block">Du kan ogs&aring; legge til servere hver for seg om du velger avansert.</p>
                </div>
              </div>

              <!-- Server - Size -->
              <div class="control-group">
                <label for="multisite" class="control-label">Server st&oslash;rrelse</label>
                <div class="controls">
                  <select id="serverSize" class="span4" ng-disabled="formsDisabled" ui-select2="select2Options" ng-model="serverSize">
                    <option value="s">Liten / Small</option>
                    <option value="m">Medium</option>
                    <option value="l">Stor / Large</option>
                  </select>
                  <p class="help-block">Sett standardst&oslash;rrelse p&aring; bestillte servere. Kan overstyres per server om du velger avansert.</p>
                </div>
              </div>

              <!-- Multisite -->
              <div class="control-group" ng-show="order.environmentClass == 'qa' && order.advancedEnabled">
                <label for="multisite" class="control-label">Multisite</label>
                <div class="controls">
                  <div class="btn-group" id="multisite">
                    <button type="button" class="btn btn-small" ng-model="order.multisite" ng-disabled="formsDisabled" btn-radio="true">Ja</button>
                    <button type="button" class="btn btn-small" ng-model="order.multisite" ng-disabled="formsDisabled" btn-radio="false">Nei</button>
                  </div>
                  <p class="help-block">Velger du multisite vil du f&aring; dobbelt opp med servere. Ett sett per datarom.</p>
                </div>
              </div>

              <!-- Type/Middleware -->
              <div class="control-group" ng-show="order.orderType == 'applicationPlatform'">
                <label for="type" class="control-label">Type / Mellomvare</label>
                <div class="controls">
                  <div class="btn-group" id="type">
                    <button type="button" class="btn btn-small" ng-model="order.vm_type" ng-disabled="formsDisabled" btn-radio="'jb'">JBoss</button>
                    <button type="button" class="btn btn-small" ng-model="order.vm_type" ng-disabled="formsDisabled" btn-radio="'wa'">WAS</button>
                  </div>
                  <p class="help-block">
                    Hvordan mellomvare skal applikasjonen kj&oslash;re p&aring;?
                  </p>
                </div>
              </div>

              <!-- Role -->
              <div class="control-group" ng-show="order.advancedEnabled">
                <label for="type" class="control-label">Rolle</label>
                <div class="controls">
                  <div class="btn-group" id="type">
                    <button type="button" class="btn btn-small" ng-model="order.role" ng-disabled="formsDisabled" btn-radio="''">* Ingen *</button>
                    <button type="button" class="btn btn-small" ng-model="order.role" ng-disabled="formsDisabled" btn-radio="'was'">WAS</button>
                    <button type="button" class="btn btn-small" ng-model="order.role" ng-disabled="formsDisabled" btn-radio="'wps'">WPS</button>
                  </div>
                  <p class="help-block">
                    En rolle definerer hvilket (om &oslash;nskelig) hvilke vDC (Virtuel Data Center) denne vApp'en skal kj&oslash;re p&aring;. Med andre ord; om du velger eg. WPS, vil vAppen din bli tvunget til &aring; kj&oslash;re p&aring; en vDC som tilh&oslash;rer WPS. Dette valget er typisk om man vil binde en vApp til en vDC for &aring; h&aring;ndtere lisens p&aring; fysiske sockets istdenfor virtuelle sockets.
                  </p>
                </div>
              </div>

              <!-- Misc yes/no booleans -->
              <div class="control-group" ng-show="order.advancedEnabled">
                <label for="type" class="control-label">Diverse ja/nei valg</label>
                <div class="controls">
                  <div class="btn-group" id="type">
                    <button type="button" class="btn btn-small" ng-model="order.updateEnvConfig" ng-disabled="formsDisabled" btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>updateEnvConfig</button>
                    <button type="button" class="btn btn-small" ng-model="order.changeDeployUser" ng-disabled="formsDisabled" btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>changeDeployUser</button>
                    <button type="button" class="btn btn-small" ng-model="order.envConfTestEnv" ng-disabled="formsDisabled" btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>envConfTestEnv</button><br />
                    <button type="button" class="btn btn-small" ng-model="order.createApplication" ng-disabled="formsDisabled" btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>createApplication</button>
                    <button type="button" class="btn btn-small" ng-model="order.engineeringBuild" ng-disabled="formsDisabled" btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>engineeringBuild</button>
                  </div>
                  <p class="help-block">
                    Diverse avanserte ja/nei valg. Du trenger vanligvis ikke endre disse.
                  </p>
                </div>
              </div>

              <div class="control-group" ng-show="order.advancedEnabled">
                <label for="expire" class="control-label">Utl&oslash;psdato</label>
                <div class="controls">
                  <input  type="text"
                          datepicker-popup="yyyy-MM-dd"
                          ng-model="order.expire" is-open="opened"
                          min="expireDateOptions.min" max="expireDateOptions.max"
                          ng-disabled="formsDisabled" datepicker-options="expireDateOptions" />
                </div>
              </div>

              <div class="control-group">
                <label for="owner" class="control-label">Eier</label>
                <div class="controls">
                  <input type="text" id="owner" ng-disabled="formsDisabled" ng-model="order.owner" />
                  <p class="help-block">
                    Hvem er "eier" av denne vApp'en. Skriv inn brukernavn. Eksempel s140397!
                  </p>
                </div>
              </div>

              <!--
              <div class="control-group">
                <label for="project_id" class="control-label">Prosjekt ID</label>
                <div class="controls">
                  <input type="text" id="project_id" ng-disabled="formsDisabled" ng-model="order.project_id" />
                </div>
              </div>

              <div class="control-group" ng-show="order.advancedEnabled">
                <label for="portfolio" class="control-label">Portfolio</label>
                <div class="controls">
                  <input type="text" id="portfolio" ng-disabled="formsDisabled" ng-model="order.portfolio" />
                </div>
              </div>-->

              <!--
              <div class="control-group">
                <label for="description" class="control-label">Beskrivelse</label>
                <div class="controls">
                  <textarea rows="2" id="description" ng-model="order.description" class="span12" placeholder=""></textarea>
                  <p class="help-block">
                    Fritekst beskrivelse..
                  </p>
                </div>
              </div>
            -->

              <div ng-show="order.advancedEnabled">
              <div ng-repeat="vm in order.vm_data_json">
                <div class="span12 well">
                  <span class="pull-right">#{{ $index }}</span>
                  <div>
                    <!--GuestOS: <input type="text" class="input-small" ng-disabled="formsDisabled" ng-model="vm.guestos" />-->
                    Description: <input type="text" class="input-medium" ng-disabled="formsDisabled" ng-model="vm.description" />
                    Size: <input type="text" class="input-small" ng-disabled="formsDisabled" ng-model="vm.size" />
                    <!--Type: <input type="text" class="input-small" ng-disabled="formsDisabled" ng-model="vm.type" />-->
                    <button type="button" class="btn btn-small"
                      ng-model="vm.dmz" btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>DMZ</button>
                  </div><br />
                  <span>Extra disks:</span>
                  <button type="button"
                    class="btn btn-small"
                    ng-disabled="formsDisabled || vm.disk.length >= 3"
                    ng-click="vm.disk.push({size: 's'})">Legg til disk</button>

                  <div ng-repeat="disk in vm.disk">
                    &nbsp;&nbsp;&nbsp;#{{ $index }} size:
                      <input type="text" ng-disabled="formsDisabled" ng-model="disk.size" />
                      <button type="button"
                        class="btn btn-small"
                        ng-disabled="formDisabled"
                        ng-click="vm.disk.splice($index, 1)">remove</button>
                  </div><br />
                  <span>Custom puppet facts:</span>
                  <button type="button"
                    class="btn btn-small"
                    ng-disabled="formsDisabled"
                    ng-click="vm.puppetFact.push({name:'name', value:'value'})">Legg til puppet-fact</button>

                  <div ng-repeat="fact in vm.puppetFact">
                      <input type="text" ng-disabled="formsDisabled" ng-model="fact.name" />:
                      <input type="text" ng-disabled="formsDisabled" ng-model="fact.value" />
                      <button type="button"
                        class="btn btn-small"
                        ng-disabled="formDisabled"
                        ng-click="vm.puppetFact.splice($index, 1)">remove</button>
                  </div>

                      <button type="button"
                        class="btn btn-small pull-right"
                        ng-disabled="formDisabled"
                        ng-click="order.vm_data_json.splice($index, 1)">remove</button>

                </div>
              </div>

                  <button type="button"
                    class="btn btn-small"
                    ng-disabled="formsDisabled"
                    ng-click="addServer('button')">Legg til ekstra server</button>
                  </div> <!-- End advanced -->

              <hr />
              <div class="control-group">
                <div class="controls">
                  <button class="btn btn-primary" ng-show="!templateEdit" ng-click="saveAndSubmit()" ng-disabled="formsDisabled || saveDisabled" type="button">Lagre og bestill</button>
                  <button class="btn btn-warning" ng-show="!templateEdit" ng-click="save()" type="button" ng-disabled="formsDisabled">Lagre uten &aring; bestille</button>
                  <button class="btn btn-warning" ng-show="templateEdit" ng-click="saveAsTemplate()" ng-show="order.advancedEnabled" type="button" ng-disabled="formsDisabled">Lag/oppdater template</button>
                </div>
              </div>
            </fieldset>
          </form>
        <p ng-show="order.vm_data_json.length == 0 && !templateEdit">
          * Du trenger minst 1 server for &aring; gjennomf&oslash;re bestillingen.
        </p>
        </div>
      </div>

      <div class="span4">
        <div class="row-fluid">
          <div class="span12">
            <label>Info / hjelp</label>
            <div class="well">

              <div ng-show="!templateEdit">
                Om du vil referere til denne bestillingen senere s&aring; kan du ta vare p&aring; url'en. Den er unik for denne bestillingen.<br />
                Kombinasjonen av feltene med <span class="highlight">gr&aring; bakrunn</span> brukes for &aring; velge en eventuell template. Dette skjer automatisk.
                <br /><br />
                <b ng-show="noSaveErrors">Feil i bestilling:</b>
                <ul ng-repeat="error in noSaveErrors">
                  <li><span class="error" ng-bind="error" /></li>
                </ul>
              </div>

              <div ng-show="templateEdit">
                <p>N&aring;r du lager/redigerer en template, s&aring; blir templaten lagret utifra kombinasjonen av <span class="highlight">bestillingstype (type) og applikasjon</span>.
                Dette er uavhengig hvilke milj&oslash;-klasse du velger. Disse to feltene er alltid tilgjengelig.</p>
                <p>En kombinasjon som definerer en template vil med en gang du velger kombinasjon endre p&aring; bestillingen. Dette vil ogs&aring; skje i template-redigerings-modus.
                Dette betyr at, om du vil ha en ny template som bygger p&aring; kombinasjonen av &quot;applikasjons-platform&quot; og &quot;app1&quot;, s&aring; kan du velge denne kombinasjon, se bestillingen endre seg i forhold til templaten, skrive bytte ut app1 med app2, gj&oslash;re endringene du vil ha i app2, og deretter trykke lagre.<br />
                Du vil n&aring; ha en ny template som vil dukke opp p&aring; app2, og app1 templaten vil ikke v&aelig;re ber&oslash;rt.
                </p>
                <p>Generelt sett så vil du ha advanced enablet når du redigerer en template.</p>
              </div>

            </div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12">
            <label>Oppsummert info</label>
            <div class="well">
              <div>Bestillings ID: <span ng-bind="order.id" /></div>
              <div>Status: <span ng-bind="order.status_human" /></div>
              <div>Bestillt: <span ng-bind="order.created" /></div>
              <div>Oppdatert: <span ng-bind="order.updated" /></div>
              <div>Bruker template: <span ng-bind="usingTemplate" /></div>
              <div>Type: <span ng-bind="order.orderType" /></div>
              <div>Antall servere: <span ng-bind="order.vm_data_json.length" /></div>
              <div>Milj&oslash; klasse: <span ng-bind="order.environmentClass" /></div>
              <div>Milj&oslash; ID: <span ng-bind="order.environmentID" /></div>
              <div>Multisite: <span ng-bind="order.multisite" /></div>
              <div>Applikasjon: <span ng-bind="order.application" /></div>
              <div>Type / Middleware: <span ng-bind="order.vm_type" /></div>
              <div>Role: <span ng-bind="order.role" /></div>
              <div>updateEnvConfig: <span ng-bind="order.updateEnvConfig" /></div>
              <div>changeDeployUser: <span ng-bind="order.changeDeployUser" /></div>
              <div>createApplication: <span ng-bind="order.createApplication" /></div>
              <div>Size: <span ng-bind="order.size" /></div>
              <div>VM data: <span ng-bind="order.vm_data_json | json"></div>
            </div>
          </div>
          <div class="span12">
            <label>Status</label>
            <div class="well">
              <table class="table">
                <tbody>
                  <tr class="success">
                    <td>Pre-check</td>
                    <td>OK</td>
                  </tr>
                  <tr class="success">
                    <td>Lage vApp</td>
                    <td>OK</td>
                  </tr>
                  <tr class="warning">
                    <td>Lage VMer</td>
                    <td>3/4</td>
                  </tr>
                  <tr class="">
                    <td>No mer...</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr class="">
                    <td>Utsending av info</td>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <label>XML (Oppdateres etter du trykker lagre)</label>
                <pre class="well" ng-bind="order.xml"></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

