<!--

* Only utv can choose count/size/disk/osv
* Size field
* Count field
* Change name of "Lag template" > "Lag tjeneste"
* Add dmz option per server
* Template is attached to type (but not "applikasjons-platform"), and application.

* Expire; default utv/qa/test = 1y, prod = 10y
-->

<button ng-click='clearCache()' type="button" class="btn" >Clear cache</button>

<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span6">
        <label>Bestillingsskjema</label>
        <div class="well">
          <form class="form-horizontal">
            <fieldset>

              <button type="button" class="btn btn-small pull-right"
                ng-model="order.advancedEnabled" btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>Avansert</button>

              <div class="control-group">
                <label for="environmentClass" class="control-label">Milj&oslash; klasse</label>
                <div class="controls">
                  <div class="btn-group" id="environmentClass">
                  	<button type="button" class="btn btn-small" ng-repeat="environmentClass in choices.environmentClasses" 
                  		ng-model="order.environmentClass" ng-class="{active: environmentClass == order.environmentClass}"
                  		ng-click="order.environmentClass = environmentClass">{{environmentClass}}</button>
                  </div>
                </div>
              </div>

              <div class="control-group">
                <label for="application" class="control-label">Applikasjon</label>
                <div class="controls">

                  <!-- applikasjonsplattform -->
                  <select id="application" class="span12" ng-model="order.application" ng-options="a.name for a in choices.applications">
                  </select>
                </div>
              </div>

              <!-- Miljø ID -->
              <div class="control-group">
                <label for="environmentID" class="control-label">Milj&oslash; ID</label>
                <div class="controls">

                  <div>
                    <select id="environmentID" class="span12" ng-model="order.environmentID" ng-options="e.name for e in choices.environments[order.environmentClass.substring(0, 1)]">
                    </select>
                  </div>

                </div>
              </div>

              <!-- Servere - Antall -->
              <div class="control-group" ng-show="!order.advancedEnabled">
                <label for="multisite" class="control-label">Antall servere</label>
                <div class="controls">
                  <select id="serverCountDropdown" class="span2" ng-model="settings.serverCount" ng-options="sc for sc in choices.serverCounts">
                  </select>
                </div>
              </div>

              <!-- Server - Size -->
              <div class="control-group">
                <label for="multisite" class="control-label">Server st&oslash;rrelse</label>
                <div class="controls">
                  <select id="serverSize" class="span3" ng-model="settings.serverSize" ng-options="key as value for (key , value) in choices.serverSizes">
                  </select>
                </div>
              </div>

              <div class="control-group">
              	<label for="extraDisk" class="control-label"></label>
                <div class="controls">
                  <button id="extraDisk" class="btn btn-small" type="button" ng-model="settings.disk" 
                  		ng-class="{active: settings.disk}"
                  		ng-click="settings.disk = !settings.disk">Ekstra disk</button>
                </div>
              </div>

              <!-- Multisite -->
              <div class="control-group" ng-show="order.environmentClass == 'qa' && order.advancedEnabled">
                <label for="multisite" class="control-label">Multisite</label>
                <div class="controls">
                  <div class="btn-group" id="multisite">
                    <button type="button" class="btn btn-small" ng-model="order.multisite" btn-radio="true">Ja</button>
                    <button type="button" class="btn btn-small" ng-model="order.multisite" btn-radio="false">Nei</button>
                  </div>
                  <p class="help-block">Velger du multisite vil du f&aring; dobbelt opp med servere. Ett sett per datarom.</p>
                </div>
              </div>

              <!-- Type/Middleware -->
              <div class="control-group">
                <label for="type" class="control-label">Type / Mellomvare</label>
                <div class="controls">
                  <div class="btn-group">
                  	<button type="button" class="btn btn-small" ng-model="settings.applicationServerType" 
                  		ng-repeat="(key, value) in choices.applicationServerTypes"
                  		ng-class="{active: key == settings.applicationServerType}"
                  		ng-click="settings.applicationServerType = key">{{value}}</button>
                  </div>
                </div>
              </div>

              <!-- Role -->
              <div class="control-group" ng-show="order.advancedEnabled">
                <label for="type" class="control-label">Rolle</label>
                <div class="controls">
                  <div class="btn-group" id="type">
                    <button type="button" class="btn btn-small" ng-model="order.role" btn-radio="''">* Ingen *</button>
                    <button type="button" class="btn btn-small" ng-model="order.role" btn-radio="'was'">WAS</button>
                    <button type="button" class="btn btn-small" ng-model="order.role" btn-radio="'wps'">WPS</button>
                  </div>
                  <p class="help-block">
                    En rolle definerer hvilket (om &oslash;nskelig) hvilke vDC (Virtuel Data Center) denne vApp'en skal kj&oslash;re p&aring;. Med andre ord; om du velger eg. WPS, vil vAppen din bli tvunget til &aring; kj&oslash;re p&aring; en vDC som tilh&oslash;rer WPS. Dette valget er typisk om man vil binde en vApp til en vDC for &aring; h&aring;ndtere lisens p&aring; fysiske sockets istdenfor virtuelle sockets.
                  </p>
                </div>
              </div>

              <!-- Misc yes/no booleans -->
              <div class="control-group" ng-show="order.advancedEnabled">
                <label for="type" class="control-label">Diverse ja/nei valg</label>
                <div class="controls">
                  <div class="btn-group" id="type">
                    <button type="button" class="btn btn-small" ng-model="order.updateEnvConfig" btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>updateEnvConfig</button>
                    <button type="button" class="btn btn-small" ng-model="order.changeDeployUser" btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>changeDeployUser</button>
                    <button type="button" class="btn btn-small" ng-model="order.envConfTestEnv" btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>envConfTestEnv</button><br />
                    <button type="button" class="btn btn-small" ng-model="order.createApplication" btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>createApplication</button>
                    <button type="button" class="btn btn-small" ng-model="order.engineeringBuild" btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>engineeringBuild</button>
                  </div>
                  <p class="help-block">
                    Diverse avanserte ja/nei valg. Du trenger vanligvis ikke endre disse.
                  </p>
                </div>
              </div>

              <div class="control-group" ng-show="order.advancedEnabled">
                <label for="expire" class="control-label">Utl&oslash;psdato</label>
                <div class="controls">
                  <input  type="text"
                          datepicker-popup="yyyy-MM-dd"
                          ng-model="order.expire" is-open="opened"
                          min="expireDateOptions.min" max="expireDateOptions.max"
                          datepicker-options="expireDateOptions" />
                </div>
              </div>

              <div class="control-group">
                <label for="owner" class="control-label">Eier</label>
                <div class="controls">
                  <input type="text" id="owner" ng-model="order.owner" />
                  <p class="help-block">
                    Hvem er "eier" av denne vApp'en. Skriv inn brukernavn. Eksempel s140397!
                  </p>
                </div>
              </div>

              <div class="control-group">
                <label for="description" class="control-label">Beskrivelse</label>
                <div class="controls">
                  <textarea rows="2" id="description" ng-model="order.description" class="span12" placeholder=""></textarea>
                  <p class="help-block">
                    Fritekst beskrivelse..
                  </p>
                </div>
              </div>

              <div ng-show="order.advancedEnabled">
              <div ng-repeat="vm in order.vm_data_json">
                <div class="span12 well">
                  <span class="pull-right">#{{ $index }}</span>
                  <div>
                    GuestOS: <input type="text" class="input-small" ng-model="vm.guestos" />
                    Description: <input type="text" class="input-small" ng-model="vm.description" />
                    Size: <input type="text" class="input-small" ng-model="vm.size" />
                    Type: <input type="text" class="input-small" ng-model="vm.type" />
                  </div><br />
                  <div>
                    <button type="button" class="btn btn-small"
                      ng-model="vm.dmz" btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>DMZ</button>
                  </div><br />
                  <span>Extra disks:</span>
                  <button type="button"
                    class="btn btn-small"
                    ng-disabled="vm.disk.length >= 3"
                    ng-click="vm.disk.push({size: 's'})">Legg til disk</button>

                  <div ng-repeat="disk in vm.disk">
                    &nbsp;&nbsp;&nbsp;#{{ $index }} size:
                      <input type="text" ng-model="disk.size" />
                      <button type="button"
                        class="btn btn-small"
                        ng-disabled="formDisabled"
                        ng-click="vm.disk.splice($index, 1)">remove</button>
                  </div><br />
                  <span>Custom puppet facts:</span>
                  <button type="button"
                    class="btn btn-small"
                    ng-click="vm.puppetFact.push({name:'name', value:'value'})">Legg til puppet-fact</button>

                  <div ng-repeat="fact in vm.puppetFact">
                      <input type="text" ng-model="fact.name" />:
                      <input type="text" ng-model="fact.value" />
                      <button type="button"
                        class="btn btn-small"
                        ng-disabled="formDisabled"
                        ng-click="vm.puppetFact.splice($index, 1)">remove</button>
                  </div>

                      <button type="button"
                        class="btn btn-small pull-right"
                        ng-disabled="formDisabled"
                        ng-click="order.vm_data_json.splice($index, 1)">remove</button>

                </div>
              </div>

                  <button type="button"
                    class="btn btn-small"
                    ng-click="addServer('button')">Legg til ekstra server</button>
                  </div> <!-- End advanced -->

              <hr />
              <div class="control-group">
                <div class="controls">
                  <button class="btn btn-primary" ng-click="saveAndSubmit()" ng-disabled="saveDisabled" type="button">Lagre og bestill</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>

      <div class="span6">
        <div class="row-fluid">
          <div class="span12">
            <label>Info / hjelp</label>
            <div class="well">

              <div>
                Om du vil referere til denne bestillingen senere s&aring; kan du ta vare p&aring; url'en. Den er unik for denne bestillingen.<br />
                Kombinasjonen av feltene med <span class="highlight">gr&aring; bakrunn</span> brukes for &aring; velge en eventuell template. Dette skjer automatisk.
                <br /><br />
                <b ng-show="noSaveErrors">Feil i bestilling:</b>
                <ul ng-repeat="error in noSaveErrors">
                  <li><span ng-bind="error" /></li>
                </ul>
              </div>

            </div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span6">
            <label>Oppsummert info</label>
            <div class="well">
              <div>Bestillings ID: <span ng-bind="order.id" /></div>
              <div>Status: <span ng-bind="order.status_human" /></div>
              <div>Bestillt: <span ng-bind="order.created" /></div>
              <div>Oppdatert: <span ng-bind="order.updated" /></div>
              <div>Bruker template: <span ng-bind="usingTemplate" /></div>
              <div>Type: <span ng-bind="order.orderType" /></div>
              <div>Antall servere: <span ng-bind="order.vm_data_json.length" /></div>
              <div>Milj&oslash; klasse: <span ng-bind="order.environmentClass" /></div>
              <div>Milj&oslash; ID: <span ng-bind="order.environmentID" /></div>
              <div>Multisite: <span ng-bind="order.multisite" /></div>
              <div>Applikasjon: <span ng-bind="order.application" /></div>
              <div>Type / Middleware: <span ng-bind="order.vm_type" /></div>
              <div>Role: <span ng-bind="order.role" /></div>
              <div>updateEnvConfig: <span ng-bind="order.updateEnvConfig" /></div>
              <div>changeDeployUser: <span ng-bind="order.changeDeployUser" /></div>
              <div>createApplication: <span ng-bind="order.createApplication" /></div>
              <div>Size: <span ng-bind="order.size" /></div>
              <div>VM data: <span ng-bind="order.vm_data_json | json"></div>
            </div>
          </div>
          <div class="span6">
            <label>Status</label>
            <div class="well">
              <table class="table">
                <tbody>
                  <tr class="success">
                    <td>Pre-check</td>
                    <td>OK</td>
                  </tr>
                  <tr class="success">
                    <td>Lage vApp</td>
                    <td>OK</td>
                  </tr>
                  <tr class="warning">
                    <td>Lage VMer</td>
                    <td>3/4</td>
                  </tr>
                  <tr class="">
                    <td>No mer...</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr class="">
                    <td>Utsending av info</td>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <label>XML (Oppdateres etter du trykker lagre)</label>
                <pre class="well" ng-bind="order.xml"></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

