<span ng-controller="queueOperationController as ctrl"> <orderform image="'mq.png'" header="'MQ queue operations'"
		description="'Start, stopp eller slett'">
	<form novalidate class="form-horizontal" role="form" name="form">

		<orderform-environment-classes model="ctrl.data.environmentClass" on-select="ctrl.changeEnvironmentClass()" disable="'p'">
		</orderform-environment-classes>

		<div class="form-group" ng-form="subForm" id="queueManager">
			<label class="col-sm-3 control-label">Kø-manager </label>

			<div class="col-sm-8">
				<ui-select theme="bootstrap" on-select="ctrl.changeQueueManager()" ng-model="ctrl.data.queueManager" required=""> <ui-select-match
					id="queueManagerName" placeholder="Velg kø-manager..." ng-style="{'overflow':'hidden'}"> <span>{{$select.selected.alias.join(',')}} <small>(
						{{$select.selected.name}} )</small></span> </ui-select-match> <ui-select-choices repeat="qm.url as qm in ctrl.queueManagers | filter: $select.search ">
				<div ng-bind-html="qm.url | highlight: $select.search"></div>
				<small class="text-muted">Fasit alias: <span ng-bind-html="qm.alias.join(',') |highlight: $select.search" /></small> </ui-select-choices> </ui-select>
			</div>

			<div class="col-sm-1" ng-show="ctrl.showValidation">
				<orderform-validation type="success" ng-show="subForm.$valid"></orderform-validation>
				<orderform-validation type="warning" validation-text="'Velg kø-manager'" ng-show="subForm.$invalid"></orderform-validation>
			</div>
		</div>

		<orderform-dropdown id="queueName" model="ctrl.data.mqQueueName" label="'Kø-navn'" choices="ctrl.queueNames" show-validation="form.$submitted" on-blur="ctrl.queueNameSelected()" on-select="ctrl.queueNameSelected()"> </orderform-dropdown>

		<div class="form-group" ng-show="ctrl.data.mqQueueName" id="searchResult">
			<label class="col-sm-3 control-label">Søkeresultater</label>
			<div class="col-sm-8">
				<i class="fa fa-info-circle fa-2x pull-left text-info"></i>
				<p>Følgende objekter i MQ og Fasit er funnet og vil bli gjort operasjoner på</p>
				<em>
					<p ng-show="ctrl.mqObjects.alias">- Alias kø {{ctrl.mqObjects.alias}}</p>
					<p ng-show="ctrl.mqObjects.name">- Lokal kø {{ctrl.mqObjects.name}}</p>
					<p ng-show="ctrl.mqObjects.backoutQueueName">- Backout kø {{ctrl.mqObjects.backoutQueueName}}</p> <em>
						<p ng-repeat="resource in ctrl.fasitResources">- Fasit ressurs {{resource.alias}} i miljø {{resource.environmentName}}</p>
				</em>
				</em>
			</div>
		</div>

		<operation-buttons on-start="ctrl.start()" on-stop="ctrl.stop()" on-delete="ctrl.remove()" formvalid="form.$valid" disabled="!ctrl.data.mqQueueName"></operation-buttons>


	</form>
	</orderform>
	<div class="col-sm-3">
		<!-- div>
			<pre>{{ctrl.data | json}}</pre>
		</div -->
	</div>
</span>
