<orderform image="'big-ip.png'" header="'BIG-IP'" description="'Load Balancer Config'">
    <form novalidate class="form-horizontal" role="form" name="form" ng-controller="orderformBIGIPController as ctrl">
        <orderform-environment-classes
                model="ctrl.data.environmentClass"
                on-select="ctrl.changeEnvironmentClass()">
        </orderform-environment-classes>

        <orderform-zones
                model="ctrl.data.zone"
                show-validation="form.$submitted"
                on-select="ctrl.baseInputChanged()">
        </orderform-zones>

        <orderform-environments
                model="ctrl.data.environmentName"
                env-class-key="ctrl.data.environmentClass"
                on-select="ctrl.baseInputChanged()"
                show-validation="form.$submitted"
                disable-multisite-alert="true">
        </orderform-environments>

        <orderform-applications
                model="ctrl.data.application"
                applications-only="true"
                show-validation="form.$submitted"
                on-select="ctrl.baseInputChanged()">
        </orderform-applications>

        <div ng-show="ctrl.baseInputIsComplete()">
            <orderform-dropdown
                    id="virtualServer"
                    model="ctrl.data.virtualserver"
                    label="'Virtuelle server'"
                    choices="ctrl.virtualservers"
                    show-validation="form.$submitted"
                    no-override="true">
            </orderform-dropdown>

            <div class="form-group">
                <label for="matchingTypes" class="col-sm-3 control-label">Matching type</label>
                <div class="col-sm-8 btn-group btn-group-radio" id="matchingTypes">
                    <label class="btn btn-default" ng-class="{active: !ctrl.data.useHostnameMatching}">
                        <input type="radio"
                               ng-click="ctrl.toggleMatchingType()">Context root
                    </label>
                    <label class="btn btn-default" ng-class="{active: ctrl.data.useHostnameMatching}">
                        <input type="radio"
                               ng-click="ctrl.toggleMatchingType()">Hostname
                        </input>
                    </label>
                </div>
            </div>
            <!--<orderform-checkbox model="ctrl.data.useHostnameMatching" label="Hostname matching?"-->
            <!--tooltip="Hvis applikasjonen har et unikt innslag i DNS, eller en egen dedikert VS (Hvis du ikke er sikker, la denne å hake av her)"></orderform-checkbox>-->

            <orderform-multivalue
                    id="contextRoot"
                    model="ctrl.data.contextroots"
                    invalid-values="ctrl.validation.invalidValues"
                    invalid-values-text="Følgende context roots er i konflikt med eksisterende"
                    internal="ctrl.internal.multivalue"
                    label="Context root(s)"
                    is-required="!ctrl.data.useHostnameMatching"
                    ng-required="'false'"
                    ng-if="!ctrl.data.useHostnameMatching"
                    placeholder="Legg til context roots"
                    show-validation="form.$submitted">
            </orderform-multivalue>
            <orderform-textinput
                    id="vsHostname"
                    model="ctrl.data.hostname"
                    label="VS hostnavn / DNS"
                    on-change="ctrl.onHostnameChange()"
                    tooltip="Hostnavnet til den virtuelle serveren på BIG-IP. Dersom det er satt opp DNS bør dette benyttes her. F.eks. 'itjenester-tx.adeo.no' eller 'fasit.adeo.no'"
                    show-validation="form.$submitted">
            </orderform-textinput>
        </div>

        <orderform-alert-error
                label="'Du må legge inn hostnavn for virtuell server / DNS'"
                show-alert="ctrl.validation && ctrl.missingHostname"
                show-validation="form.$submitted">
        </orderform-alert-error>

        <orderform-alert-error
                id="virtualserverMissing"
                label="'Fant ingen virtuell server for '+ ctrl.data.application + ' med miljøklasse ' + ctrl.data.environmentClass + ' i  sone ' + ctrl.data.zone"
                show-alert="ctrl.validation.virtualServerMissing"
                show-validation="form.$submitted">
        </orderform-alert-error>

        <orderform-alert-error
                id="loadbalancerresourceMissing"
                label="'Fant ingen ressurs av typen LoadBalancer i Fasit for miljøklasse ' + ctrl.data.environmentClass + ' i  sone ' + ctrl.data.zone"
                show-alert="ctrl.validation && !ctrl.validation.bigIpResourceExists"
                show-validation="form.$submitted">
        </orderform-alert-error>

        <orderform-alert-error
                label="'Fant flere ressurser av typen LoadBalancerConfig med alias lbConfig scopet til denne applikasjonen Fasit. Vennligst fjern de overflødige, da vi ikke kan vite hvilken vi skal oppdatere når det er flere.'"
                show-alert="ctrl.validation && !ctrl.validation.possibleToUpdateFasit"
                show-validation="form.$submitted">
        </orderform-alert-error>

        <orderform-alert
                label="'Lastbalanseringsconfig finnes allerede i Fasit. Denne bestillingen vil overskrive gjeldende lastbalanseringskonfig.'"
                show-alert="ctrl.validation.lbConfigResourceExists"
                show-validation="form.$submitted">
        </orderform-alert>

        <orderform-buttons
                on-submit="ctrl.submitOrder()"
                busy="ctrl.processing"
                formvalid="form.$valid">
        </orderform-buttons>
        <pre>
            {{form|json}}
        </pre>
    </form>
</orderform>


      