<div class="row">
    <div class="alert alert-info" ng-show="firstTime">We've added some new features since last time you were here. Check
        out what's new!
    </div>
    <h2 class="page-header">
        <i class="fa fa-file-text-o"/> v{{version}}
        <small class="text-muted">
            Changelog | Released {{currentVersion.releaseDate | timeago}}
        </small>

            <span class="pull-right">
                <a href="#/changelog?version={{previousVersion}}" ng-show="previousVersion">
                    <i class="fa fa-arrow-circle-o-left"></i>
                </a>
                <a href="#/changelog?version={{nextVersion}}" ng-show="nextVersion">
                    <i class="fa fa-arrow-circle-o-right"></i>
                </a>
            </span>
    </h2>
    <div class="col-xs-6">
        <span><changelog-markdown version="{{version}}"/></span>

        <h3>Resolved issues</h3>

        <ul class="list-unstyled" ng-repeat="issue in issues">
            <li><i class="fa fa-check"></i><a href="http://jira.adeo.no/browse/{{issue.key}}">
                {{issue.fields.summary}}</a></li>
        </ul>
        <h5 ng-hide="issues">No issues tagged with this version</h5>
    </div>
    <div class="col-xs-3 pull-right">
        <table class="table table-responsive">
            <thead>
            <td><h4>Version</h4></td>
            <td><h4>Released</h4></td>
            </thead>
            <tbody>
            <tr ng-repeat="version in versions.slice().reverse()"
                ng-class="{info: isCurrentlySelected(version.versionName)}">
                <td><a href="#/changelog?version={{version.versionName}}">{{version.versionName}}</a></td>
                <td>{{version.releaseDate}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>






