<div ng-controller="nodeListController">
	<h1 class="page-header">Noder</h1>
	<form class="well" ng-show="selectedNodes">
		<table>
			<tr>
				<td><button type="button" ng-disabled="!currentUser.authenticated" class="btn btn-small" ng-click="decommission()">Dekommisjoner</button></td>
				<td>&nbsp;</td>
				<td><span ng-repeat="node in selectedNodes">{{node.hostname}}{{$last ? '' : ', '}}</span></td>
			</tr>
		</table> 
	</form>
	<div ng-include src="'modalconfirm.html'" ng-controller="ModalController"></div>
	<form class="well">
		<i class="icon-filter"></i> Filter: 
		<button type="button" class="btn btn-small" ng-disabled="!currentUser.authenticated" ng-click="filters.myNodes = !filters.myNodes" ng-class="{active: filters.myNodes}">Mine</button>
		<button type="button" class="btn btn-small" ng-click="filters.activeNodes = !filters.activeNodes" ng-class="{active: filters.activeNodes}">Aktive</button>
	</form>
	<table class="table table-striped" ng-init="predicate = 'id'; reverse = true">
		<thead>
			<tr>
				<td><a ng-click="reverse = predicate == (predicate = 'order.id') && !reverse">Ordre#</a></td>
				<td><a ng-click="reverse = predicate == (predicate = 'decommissionOrder.id') && !reverse">Dekommisjoneringsordre#</a></td>
				<td><a ng-click="reverse = predicate == (predicate = 'hostname') && !reverse">Hostnavn</a></td>
				<td><a ng-click="reverse = predicate == (predicate = 'order.createdBy') && !reverse">Opprettet av</a></td>
				<td><a ng-click="reverse = predicate == (predicate = 'created') && !reverse">Tidspunkt</a></td>
				<td><a ng-click="reverse = predicate == (predicate = 'order.status') && !reverse">Ordrestatus</a></td>
				<td>Admin</td>
				<td>Fasit</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-class="{info: isSelectedNode(node)}" ng-repeat="node in nodes | orderBy:predicate:reverse" ng-click="setSelectedNode(node)">
				<td>{{node.order.id}}</td>
				<td>{{node.decommissionOrder.id}}</td>
				<td>{{node.hostname}}</td>
				<td>{{node.order.createdBy}}</td>
				<td>{{node.created|date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td>{{node.order.status}}</td>
				<td><a ng-show="node.adminUrl" href="{{node.adminUrl}}" target="_blank"><i class="icon-share"></i> lenke</a></td>
				<td><a ng-show="node.fasitUrl" href="{{node.fasitUrl}}" target="_blank"><i class="icon-share"></i> lenke</a></td>
			</tr>
		</tbody>
	</table>
</div>
