<div>
    <div class="container-fluid">
            <orderdetails-header></orderdetails-header>
            <div class="row">
                <orderdetails-panel panel="overview"></orderdetails-panel>
                <orderdetails-panel panel="result-vm"></orderdetails-panel>
            </div>
            <div class="row">
                <orderdetails-panel panel="input"></orderdetails-panel>
                <orderdetails-panel panel="log"></orderdetails-panel>
            </div>
        </div>
    </div>
</div>