

        <menu-item image="'websphere.png'" header="'WAS'" description="'Node'" order-key="'wasNode'" ></menu-item>
        <menu-item image="'websphere.png'" header="'WAS'" description="'Deployment Manager'" order-key="'wasDmgr'"></menu-item>
        <menu-item image="'websphere.png'" header="'BPM'" description="'Node'" order-key="'bpmNode'"></menu-item>
        <menu-item image="'websphere.png'" header="'BPM'" description="'Deployment Manager'" order-key="'bpmDmgr'"></menu-item>

        <menu-item image="'jboss.png'" header="'JBoss'" description="'Application Server'" order-key="'jboss'"></menu-item>
        <menu-item image="'redhat.png'" header="'Red Hat'" description="'Linux'" order-key="'linux'"></menu-item>
        <menu-item image="'openam.png'" header="'Open AM'" description="'Node'" order-key="'openamNode'"></menu-item>
        <menu-item image="'openam.png'" header="'Open AM'" description="'Proxy'" order-key="'openamProxy'"></menu-item>

</div>