<div ng-controller="orderListController">
    <div class="container-fluid">
        <div ng-hide="model.exists">
            <h1 class="page-header">
                Ordre #{{model.routeParamsId}} finnes ikke
            </h1>
        </div>
        <div ng-show="model.exists">

            <h1 class="page-header center-block">
                    <a href="#/order_details/{{orderDetails.previousOrderId}}" ng-show="orderDetails.previousOrderId">
                    <i class="glyphicon glyphicon-circle-arrow-left"></i></a>
                Ordre #{{orderDetails.id}}
                <small>{{orderDetails.nodeType}}</small>
                    <a class="pull-right" href="#/order_details/{{orderDetails.nextOrderId}}" ng-show="orderDetails.nextOrderId">
                    <i class="glyphicon glyphicon-circle-arrow-right"></i>
                    </a>
            </h1>
            <div class="row">
                <div class="col-lg-6 panel-group" id="statusPanel">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#statusPanel" href="#statusContent"
                                   onclick="return false;">
                                <span ng-class="{'alert alert-sm alert-danger' : orderDetails.status === 'ERROR' || orderDetails.status==='FAILURE',
                                     'alert alert-sm alert-info' : orderDetails.status === 'PROCESSING' || orderDetails.status ==='NEW',
                                     'alert alert-sm alert-success' : orderDetails.status === 'SUCCESS'
                                     }">
                                    <i ng-class="
                                       {'glyphicon  glyphicon-exclamation-sign': orderDetails.status === 'ERROR' || orderDetails.status==='FAILURE',
                                       'glyphicon glyphicon-ok': orderDetails.status === 'SUCCESS',
                                       'glyphicon glyphicon-refresh': orderDetails.status === 'PROCESSING' || orderDetails.status ==='NEW'
                                       }
                                     "/>
                                      {{orderDetails.status}}
                                </span>


                                </a>
                            </h2>
                        </div>
                        <div id="statusContent" class="panel-collapse collapse in">
                            <div class="panel-body" ng-show="orderDetails.errorMessage">
                                <div class="alert alert-danger">{{orderDetails.errorMessage}}</div>
                            </div>
                            <table class="table">
                                <thead></thead>
                                <tbody>
                                <tr>
                                    <th class="col-lg-3">Orchestrator ID</th>
                                    <td class="col-lg-9">{{orderDetails.orchestratorOrderId}}</td>
                                </tr>
                                <tr>
                                    <th>Opprettet av</th>
                                    <td ng-show="orderDetails.createdByDisplayName">{{orderDetails.createdByDisplayName}} ({{orderDetails.createdBy}})</td>
                                    <td ng-hide="orderDetails.createdByDisplayName">{{orderDetails.createdBy}}</td>
                                </tr>
                                <tr>
                                    <th>Opprettet dato</th>
                                    <td>{{orderDetails.created|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 panel-group" id="nodePanel">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <i class="glyphicon  glyphicon-map-marker"/>
                                <a data-toggle="collapse" data-parent="#nodePanel" href="#nodeContent"
                                   onclick="return false;">
                                    Noder
                                </a>
                            </h2>
                        </div>
                        <div id="nodeContent" class="panel-collapse collapse in">
                            <div class="panel-body" ng-hide="orderDetails.nodes">
                                (Ingen noder)
                            </div>
                            <table class="table" ng-show="orderDetails.nodes">
                                <thead>
                                <tr>
                                    <th>Host</th>
                                    <th>Minne</th>
                                    <th>CPU'er</th>
                                    <th>Admin</th>
                                    <th>Avbestill</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="node in orderDetails.nodes">
                                    <td>{{node.hostname}}</td>
                                    <td>{{node.memoryMb}}Mb</td>
                                    <td>{{node.cpuCount}}</td>
                                    <td><a ng-show="node.adminUrl" href="{{node.adminUrl}}" target="_blank"><i
                                            class="glyphicon glyphicon-share"></i> lenke</a>
                                    </td>
                                    <td>
                                        <button data-toggle="modal" data-target="#modal"
                                                ng-disabled="!currentUser.authenticated" class="btn btn-danger btn-xs" ng-click="setSelectedNode(node)">
                                            <i class="glyphicon glyphicon-remove"/>
                                            Avbestill
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-include src="'modalconfirm.html'" ng-controller="ModalController"></div>
            <div class="row">
                <div class="col-lg-6 panel-group" id="requestPanel">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <i class="glyphicon  glyphicon-list-alt"/>
                                <a data-toggle="collapse" data-parent="#requestPanel" href="#requestContent"
                                   onclick="return false;">
                                    Request
                                </a>
                             <div class="pull-right align-form-element-to-panel prettyCheckbox">
                                 <input type="checkbox" class="hidden" ng-model="model.showXML" id="c1"/>
                                 <label for="c1"></label>
                             </div>
                                <span class="prettyCheckbox-label">Vis XML?</span>
                            </h2>

                        </div>
                        <div id="requestContent" class="panel-collapse collapse in">
                            {{shove}}
                            <div ng-show="model.showXML">
                            <ace-editor ng-model="model.xmlreq" theme="chrome" fontsize=12 readonly=true></ace-editor>
                            </div>
                            <table ng-hide="model.showXML" class="table">
                                <thead></thead>
                                <tbody>
                                <tr ng-repeat="(key, value) in orderDetails.settings" ng-show="value">
                                    <th class="col-lg-3">{{key}}</th>
                                    <td class="col-lg-9">{{value}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 panel-group" id="logPanel">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <i class="glyphicon  glyphicon-transfer"/>
                                <a data-toggle="collapse" data-parent="#logPanel" href="#logContent"
                                   onclick="return false;">
                                    Statuslogg fra Orchestrator
                                </a>
                            </h2>
                        </div>
                        <div id="logContent" class="panel-collapse collapse in">
                            <div class="panel-body" ng-show="statusLog.length===0">
                                (Ingen logg)
                            </div>
                            <table class="table" ng-hide="statusLog.length===0"
                                   ng-init="predicate = 'id'; reverse = true">
                                <thead>
                                <tr>
                                    <th>Status</th>
                                    <th><a ng-click="reverse = predicate == (predicate = 'created') && !reverse">Tidspunkt</a></th>
                                    <th>Tekst</th>
                                    <th>Type</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="log in statusLog | orderBy:predicate:reverse"
                                    ng-class="{'danger': log.option === 'error', 'success': log.option === 'success'}">
                                    <td><span ng-class="{'alert alert-sm alert-danger' : log.option === 'error',
                                     'alert alert-sm alert-success' : log.option === 'success',
                                     'alert alert-sm alert-info' : log.option === null

                                     }">
                                    <i  ng-class="
                                       {'glyphicon  glyphicon-exclamation-sign': log.option === 'error',
                                       'glyphicon glyphicon-ok': log.option === 'success',
                                       'glyphicon glyphicon-info-sign': log.option === null
                                       }
                                     "/></td>
                                    <td>{{log.created|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td>{{log.text}}</td>
                                    <td>{{log.type}}</td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>