<div ng-controller="mainController">
    <h2 class="page-header">
      <span class="fa fa-stack text-primary">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-stack-1x fa-inverse fa-plus"></i>
    </span>

        Create new order
    </h2>

    <div class="col-sm-3">
        <menu-item image="'websphere.png'"
                   header="'WAS'" description="'Node'"
                   order-key="'WAS_NODES'">

        </menu-item>
    </div>
    <div class="col-sm-3">
        <menu-item image="'websphere.png'"
                   header="'WAS'"
                   description="'Deployment Manager'"
                   order-key="'WAS_DEPLOYMENT_MANAGER'">
        </menu-item>
    </div>
    <div class="col-sm-3">
        <menu-item image="'websphere.png'"
                   header="'BPM'" description="'Node'"
                   order-key="'BPM_NODES'">
        </menu-item>
    </div>
    <div class="col-sm-3">
        <menu-item image="'websphere.png'"
                   header="'BPM'"
                   description="'Deployment Manager'"
                   order-key="'BPM_DEPLOYMENT_MANAGER'">
        </menu-item>
    </div>
    <div class="col-sm-3">
        <menu-item image="'jboss.png'"
                   header="'JBoss'"
                   description="'Application Server'"
                   order-key="'JBOSS'">
        </menu-item>
    </div>
    <div class="col-sm-3">
        <menu-item image="'redhat.png'"
                   header="'Red Hat'"
                   description="'Linux'"
                   order-key="'PLAIN_LINUX'"
                   ng-hide="!currentUser.superUser">
        </menu-item>
    </div>
    <div class="col-sm-3">
        <menu-item image="'openam.png'"
                   header="'Open AM'"
                   description="'Node'"
                   order-key="'openamNode'"
                   ng-hide="!currentUser.superUser">
        </menu-item>
    </div>
    <div class="col-sm-3">
        <menu-item
                image="'openam.png'"
                header="'Open AM'"
                description="'Proxy'"
                order-key="'openamProxy'"
                ng-hide="!currentUser.superUser">
        </menu-item>
    </div>
       <div class="col-sm-3">
        <menu-item
                image="'security.png'"
                header="'LDAP'"
                description="'Service user credentials'"
                form-url="'serviceuser_order'"
                ng-hide="!currentUser.superUser">
        </menu-item>
    </div>
      <div class="col-sm-3">
        <menu-item
                image="'security.png'"
                header="'LDAP'"
                description="'Service user certificate'"
                form-url="'serviceuser_certificate_order'"
                ng-hide="currentUser.superUser">
        </menu-item>
    </div>











</div>