<div ng-controller="orderListController" class="container">
	<h1>Bestillingshistorikk</h1>
	<div class="well" ng-show="orderDetails">
		<dl class="dl-horizontal">
			<dt>Bestillings#</dt>
			<dd>{{orderDetails.id}}</dd>
			<dt>Orchestrator#</dt>
			<dd>{{orderDetails.orchestratorOrderId}}</dd>
			<dt>Opprettet av</dt>
			<dd>{{orderDetails.createdBy}}</dd>
		</dl>

		<p ng-hide="orderDetails.nodes">
			Ingen noder
		</p>
		<table class="table table-striped" ng-show="orderDetails.nodes">
			<thead>
				<tr>
					<td>Host</td>
					<td>Datasenter</td>
					<td>Minne (Mb)</td>
					<td>CPU'er</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="node in orderDetails.nodes">
					<td>{{node.hostname}}</td>
					<td>{{node.datasenter}}</td>
					<td>{{node.memoryMb}}</td>
					<td>{{node.cpuCount}}</td>
				</tr>
			</tbody>
		</table>

		<p ng-click="toggleOrderDetailsSettings(orderDetails)">
			Oppsett <span ng-show="orderDetails.settings">&#x25bc;</span> <span ng-hide="orderDetails.settings">&#x25b6;</span>
		</p>
		<dl class="dl-horizontal" ng-show="orderDetails.settings">
			<dt ng-repeat-start="(key, value) in orderDetails.settings">{{key}}</dt>
			<dd ng-repeat-end>{{value}}</dd>
		</dl>

		<p ng-click="toggleRequestXml(orderDetails)">
			Request xml <span ng-show="orderDetails.requestXml">&#x25bc;</span> <span ng-hide="orderDetails.requestXml">&#x25b6;</span>
		</p>
		<pre class="well" ng-show="orderDetails.requestXml">{{orderDetails.requestXml}}</pre>
	</div>
	<table class="table table-striped" ng-init="predicate = 'id'; reverse = true">
		<thead>
			<tr>
				<td><a ng-click="reverse = predicate == (predicate = 'id') && !reverse">#</a></td>
				<td><a ng-click="reverse = predicate == (predicate = 'orchestratorOrderId') && !reverse">Orchestrator#</a></td>
				<td><a ng-click="reverse = predicate == (predicate = 'createdBy') && !reverse">Opprettet av</a></td>
				<td><a ng-click="reverse = predicate == (predicate = 'created') && !reverse">Tidspunkt</a></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-class="{info: isSelectedOrder(order)}" ng-repeat="order in orders | orderBy:predicate:reverse" ng-click="setSelectedOrder(order)">
				<td>{{order.id}}</td>
				<td>{{order.orchestratorOrderId}}</td>
				<td>{{order.createdBy}}</td>
				<td>{{order.created|date:'yyyy-MM-dd HH:mm:ss'}}</td>
			</tr>
		</tbody>
	</table>
</div>
