
<div ng-controller="mainController">

        <menu-item image="'websphere.png'" header="'WAS'" description="'Node'"></menu-item>
        <menu-item image="'websphere.png'" header="'WAS'" description="'Deployment Manager'"></menu-item>
        <menu-item image="'websphere.png'" header="'BPM'" description="'Node'"></menu-item>
        <menu-item image="'websphere.png'" header="'BPM'" description="'Deployment Manager'"></menu-item>

        <menu-item image="'jboss.png'" header="'JBoss'" description="'Application Server'"></menu-item>
        <menu-item image="'redhat.png'" header="'Red Hat'" description="'Linux'"></menu-item>
        <menu-item image="'openam.png'" header="'Open AM'" description="'Node'"></menu-item>
        <menu-item image="'openam.png'" header="'Open AM'" description="'Proxy'"></menu-item>

</div>