<div ng-controller="orderListController">
	<h1 class="page-header">Bestillingshistorikk
        <span class="pull-right">
            <h4>
                <span ng-show="(orders|filter:search|filter:filterDate).length === orders.length" class="badge alert-info">{{orders.length}}</span>
                <span ng-hide="(orders|filter:search|filter:filterDate).length === orders.length" class="badge alert-info">{{(orders|filter:search|filter:filterDate).length}} / {{orders.length}}</span>
            </h4>
        </span>
    </h1>

     <div class="table-responsive">
	<table class="table" ng-init="predicate = 'created'; reverse = true">
		<thead>
        <tr>
            <td class="col-md-1">
                <div class="input-group">
                    <span class="input-group-addon">
                        <a ng-click="reverse = predicate == (predicate = 'id') && !reverse">#</a>
                    </span>
                    <input ng-model="search.id" class="form-control" placeholder="ID">
                </div>
            </td>
            <td class="col-md-1">
                <div class="input-group">
                    <span class="input-group-addon">
                        <a ng-click="reverse = predicate == (predicate = 'status') && !reverse"><i class="glyphicon glyphicon-play-circle"/></a>
                    </span>
                    <input ng-model="search.status" class="form-control" placeholder="Status">
                </div>
            </td>
            <td class="col-md-2">
                <div class="input-group">
                    <span class="input-group-addon">
                        <a ng-click="reverse = predicate == (predicate = 'nodeType') && !reverse"><i class="glyphicon glyphicon-map-marker"/></a>
                    </span>
                    <input ng-model="search.nodeType" class="form-control" placeholder="Nodetype">
                </div>
            </td>
            <td class="col-md-2">
                <div class="input-group">
                    <span class="input-group-addon">
                        <a ng-click="reverse = predicate == (predicate = 'hostNames') && !reverse"><i class="glyphicon glyphicon-map-marker"/></a>
                    </span>
                    <input ng-model="search.hostNames" class="form-control" placeholder="Hostnavn">
                </div>
            </td>
            <td class="col-md-2">
                <div class="input-group">
                    <span class="input-group-addon">
                        <a ng-click="reverse = predicate == (predicate = 'createdBy') && !reverse"><i class="glyphicon glyphicon-user"/></a>
                    </span>
                    <input ng-model="search.createdByDisplayName" class="form-control" placeholder="Opprettet av">
                </div>
            </td>
            <td class="col-md-1">
                <div class="input-group">
                    <span class="input-group-addon">
                        <a ng-click="reverse = predicate == (predicate = 'created') && !reverse"><i class="glyphicon glyphicon-calendar"/></a>
                    </span>
                    <input ng-model="searchDate" class="form-control" placeholder="Tidspunkt">
                </div>
            </td>
		</thead>
		<tbody>
			<tr ng-repeat="order in orders | orderBy:predicate:reverse | filter:search|filter:filterDate">
				<td><a href="#/order_details/{{order.id}}"><i class="glyphicon glyphicon-folder-open"/> {{order.id}} </a></td>
                <td>
                    <span ng-class="{'alert alert-sm alert-danger' : order.status === 'ERROR' || order.status==='FAILURE',
                                     'alert alert-sm alert-warning' : order.status === 'WARNING',
                                     'alert alert-sm alert-info' : order.status === 'PROCESSING' || order.status ==='NEW',
                                     'alert alert-sm alert-success' : order.status === 'SUCCESS'}">
                       <i ng-class="
                                       {'glyphicon  glyphicon-exclamation-sign': order.status === 'ERROR' || order.status==='FAILURE',
                                       'glyphicon glyphicon-flag': order.status === 'WARNING',
                                       'glyphicon glyphicon-ok': order.status === 'SUCCESS',
                                       'glyphicon glyphicon-refresh': order.status === 'PROCESSING' || order.status ==='NEW'
                                       }
                                     "/>
                                      {{order.status}}
                    </span>
                </td>
                <td>{{order.nodeType}}</td>
                <td><div ng-repeat="node in order.nodes">
                        <span ng-show="node.decommissioned" class="text-muted"><i class="glyphicon glyphicon-remove-circle"/> {{node.hostname}}</span>
                        <span ng-hide="node.decommissioned">
                            <a href="{{node.fasitUrl}}" target="_blank"> <i class="glyphicon glyphicon-map-marker"/> {{node.hostname}}</a>
                         </span>
                    </div>
                </td>
				<td>{{order.createdByDisplayName}}</td>
				<td>{{order.created|date:'yyyy-MM-dd HH:mm:ss'}}</td>

			</tr>
		</tbody>
	</table>
    </div>
</div>
