<div>
  <label>Bestillingsskjema</label>
  <div class="well">
    <form class="form-horizontal">
      <fieldset>

        <div class="control-group">
          <label for="nodeType" class="control-label">&nbsp;</label>
          <div class="controls">
            <div class="btn-group" id="nodeType">
            	<button type="button" class="btn btn-small" ng-repeat="nodeType in choices.nodeTypes" 
            		ng-model="settings.nodeType" ng-class="{active: nodeType == settings.nodeType}"
            		ng-click="changeNodeType(nodeType)">{{choices.nodeTypeNames[nodeType]}}</button>
            </div>
          </div>
        </div>

        <div class="control-group" ng-hide="settings.environmentClass === undefined">
          <label for="environmentClass" class="control-label">Milj&oslash;klasse</label>
          <div class="controls">
            <div class="btn-group" id="environmentClass">
            	<button type="button" class="btn btn-small" ng-repeat="environmentClass in choices.environmentClasses" 
            		ng-model="settings.environmentClass" ng-class="{active: environmentClass == settings.environmentClass}"
            		ng-click="settings.environmentClass = environmentClass"
            		ng-disabled="!hasEnvironmentClassAccess(environmentClass)">{{choices.environmentClassNames[environmentClass]}}</button>
            </div>
          </div>
        </div>

        <div class="control-group" ng-hide="settings.zone === undefined">
          <label for="zones" class="control-label">Sone</label>
          <div class="controls">
            <div class="btn-group" id="zones">
            	<button type="button" class="btn btn-small" ng-repeat="zone in choices.zones" 
            		ng-model="settings.zone" ng-class="{active: zone == settings.zone}"
            		ng-click="settings.zone = zone"
            		ng-disabled="!hasZone(zone)">{{zone}}</button>
            </div>
          </div>
        </div>

        <div class="control-group" ng-hide="settings.applicationName === undefined">
          <label for="applicationName" class="control-label">Applikasjon</label>
          <div class="controls">
            <select id="applicationName" ng-class="{busy: busies.applicationName}" class="span6" ng-model="settings.applicationName" ng-options="a for a in choices.applications">
            </select>
            <p class="text-error">{{errors.form_errors.applicationName_error}}</p>
          </div>
        </div>

        <!-- Miljø ID -->
        <div class="control-group" ng-hide="settings.environmentName === undefined">
          <label for="environmentName" class="control-label">Milj&oslash;navn</label>
          <div class="controls">
            <select id="environmentName" ng-class="{busy: busies.environmentName}" class="span6" ng-model="settings.environmentName" ng-options="e for e in choices.environments[settings.environmentClass]">
            </select>
            <p class="text-error">{{errors.form_errors.environmentName_error}}</p>
          </div>
        </div>

        <!-- Servere - Antall -->
        <div class="control-group" ng-hide="settings.serverCount === undefined">
          <label for="serverCountDropdown" class="control-label">Antall servere</label>
          <div class="controls">
            <select id="serverCountDropdown" class="span2" ng-model="settings.serverCount" ng-options="sc for sc in choices.serverCounts">
            </select>
          </div>
        </div>

        <!-- Server - Size -->
        <div class="control-group" ng-hide="settings.serverSize === undefined">
          <label for="serverSize" class="control-label">Serverst&oslash;rrelse</label>
          <div class="controls">
            <select id="serverSize" class="span3" ng-model="settings.serverSize" ng-options="key as value for (key , value) in choices.serverSizes">
            </select>
          </div>
        </div>

        <div class="control-group" ng-hide="settings.disk === undefined">
        	<label for="extraDisk" class="control-label"></label>
          <div class="controls">
            <button id="extraDisk" class="btn btn-small" type="button" ng-model="settings.disk" 
            		ng-class="{active: settings.disk}"
            		ng-click="settings.disk = !settings.disk">Ekstra disk</button>
          </div>
        </div>

        <!-- Multisite -->
        <div class="control-group" ng-hide="settings.multisite === undefined || settings.environmentClass != 'q'">
          <label for="multisite" class="control-label">Multisite</label>
          <div class="controls">
            <div class="btn-group" id="multisite">
              <button type="button" class="btn btn-small" ng-model="settings.multisite" btn-radio="true">Ja</button>
              <button type="button" class="btn btn-small" ng-model="settings.multisite" btn-radio="false">Nei</button>
            </div>
            <p class="help-block">Setter opp mirroring av servere i separate datarom.</p>
          </div>
        </div>

        <!-- Type/Middleware -->
        <div class="control-group" ng-hide="settings.applicationServerType === undefined">
          <label for="type" class="control-label">Type / Mellomvare</label>
          <div class="controls">
            <div class="btn-group">
            	<button type="button" class="btn btn-small" ng-model="settings.applicationServerType"
            		ng-repeat="(key, value) in choices.applicationServerTypes"
            		ng-disabled="choices.applicationServerTypeMessages[key]" 
            		ng-class="{active: key == settings.applicationServerType}"
            		ng-click="settings.applicationServerType = key"
            		title="{{choices.applicationServerTypeMessages[key]}}">{{value}}</button>
            </div>
            <p class="text-error">{{errors.form_errors.applicationServerType_error}}</p>
          </div>
        </div>

        <div class="control-group" ng-show="errors.form_errors.general">
          <div class="controls">
          	<div class="alert alert-error">
          	  <p ng-repeat="error in errors.form_errors.general">{{error}}</p>
          	</div>
          </div>
        </div>

        <div class="control-group">
          <label for="sendButton" class="control-label" ng-class="{busy: busies.orderSend}">&nbsp;</label>
          <div class="controls">
            <button id="sendButton" ng-disabled="orderSent" class="btn btn-primary" ng-click="submitOrder()" type="button">Bestill</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

