<div ng-controller="orderListController">
<div class="container-fluid">
<div ng-hide="model.exists">
    <h2 class="page-header">
        Order #{{model.routeParamsId}} does not exist
    </h2>
</div>
<div ng-show="model.exists">

<h2 class="page-header center-block">
    <a href="#/order_details/{{orderDetails.previousOrderId}}" ng-show="orderDetails.previousOrderId">
        <i class="glyphicon glyphicon-circle-arrow-left"></i></a>
    Order {{orderDetails.id}}
    <small class="text-muted">
        <i ng-class="{'fa fa-trash' : orderDetails.orderType === 'DECOMMISSION',
                       'fa fa-pause' : orderDetails.orderType === 'STOP',
                       'fa fa-play': orderDetails.orderType === 'START',
                       'fa fa-cogs'  : orderDetails.orderType === 'PROVISION'}"/>

        {{orderDetails.type}}
    </small>
    <a class="pull-right" href="#/order_details/{{orderDetails.nextOrderId}}" ng-show="orderDetails.nextOrderId">
        <i class="glyphicon glyphicon-circle-arrow-right"></i>
    </a>
</h2>
<div class="row">
<div class="col-lg-6 panel-group" id="statusPanel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#statusPanel" href="#statusContent"
                   onclick="return false;">
                                <span class="alert alert-sm" ng-class="{'alert-danger' : orderDetails.status === 'ERROR' || orderDetails.status==='FAILURE',
                                     'alert-warning' : orderDetails.status === 'WARNING',
                                     'alert-info' : orderDetails.status === 'PROCESSING' || orderDetails.status ==='NEW',
                                     'alert-success' : orderDetails.status === 'SUCCESS'
                                     }">
                                    <i class="glyphicon" ng-class="
                                       {'glyphicon-exclamation-sign': orderDetails.status === 'ERROR' || orderDetails.status==='FAILURE',
                                       'glyphicon-flag': orderDetails.status === 'WARNING',
                                       'glyphicon-ok': orderDetails.status === 'SUCCESS',
                                       'glyphicon-refresh': orderDetails.status === 'PROCESSING' || orderDetails.status ==='NEW'
                                       }
                                     "/>
                                      {{orderDetails.status}}
                                </span>


                </a>
            </h2>
        </div>
        <div id="statusContent" class="panel-collapse collapse in">
            <div class="panel-body" ng-show="orderDetails.errorMessage">
                <div class="alert alert-danger">{{orderDetails.errorMessage}}</div>
            </div>
            <table class="table">
                <thead></thead>
                <tbody>
                <tr>
                    <th class="col-lg-3">Orchestrator ID</th>
                    <td class="col-lg-9">{{orderDetails.orchestratorOrderId}}</td>
                </tr>
                <tr>
                    <th>Created by</th>
                    <td ng-show="orderDetails.createdByDisplayName">{{orderDetails.createdByDisplayName}}
                        ({{orderDetails.createdBy}})
                    </td>
                    <td ng-hide="orderDetails.createdByDisplayName">{{orderDetails.createdBy}}</td>
                </tr>
                <tr>
                    <th>Created date</th>
                    <td>{{orderDetails.created|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<div class="col-lg-6 panel-group" id="nodePanel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">
                <i class="glyphicon  glyphicon-map-marker"/>
                <a data-toggle="collapse" data-parent="#nodePanel" href="#nodeContent"
                   onclick="return false;">
                    Nodes
                </a>
            </h2>
        </div>
        <div id="nodeContent" class="panel-collapse collapse in">
            <div class="panel-body" ng-hide="orderDetails.nodes">
                (None)
            </div>
            <table class="table" ng-show="orderDetails.nodes">
                <thead>
                <tr>
                    <th class="col-sm-3">
                        <i class="fa fa-external-link"></i>
                        Host
                    </th>
                    <th class="col-sm-2">
                        <i class="fa fa-history"></i>
                        History
                    </th>
                    <th class="col-sm-1">
                        <i class="fa fa-info-circle"></i>
                    </th>
                    <th class="col-sm-4">
                        <i class="fa fa-wrench"></i>
                        Operations
                        <div ng-show="model.existingNodes.length > 1">
                            <button data-toggle="modal" data-target="#modal"
                                    ng-click="model.operation = 'START';model.nodetarget=model.existingNodes"
                                    ng-hide="orderDetails.status === 'PROCESSING'"
                                    ng-disabled="!currentUser.authenticated"
                                    class="btn btn-info btn-xs">
                                <i class="fa fa-play"/>
                                Start {{model.existingNodes.length}}
                            </button>

                            <button data-toggle="modal" data-target="#modal"
                                    ng-click="model.operation = 'STOP';model.nodetarget=model.existingNodes"
                                    ng-hide="orderDetails.status === 'PROCESSING'"
                                    ng-disabled="!currentUser.authenticated"
                                    class="btn btn-warning btn-xs">
                                <i class="fa fa-pause"/>
                                Stop {{model.existingNodes.length}}
                            </button>

                            <button data-toggle="modal" data-target="#modal"
                                    ng-click="model.operation = 'DECOMMISSION';model.nodetarget=model.existingNodes"
                                    ng-hide="orderDetails.status === 'PROCESSING'"
                                    ng-disabled="!currentUser.authenticated"
                                    class="btn btn-danger btn-xs">
                                <i class="fa fa-trash"/>
                                Decommission {{model.existingNodes.length}}
                            </button>
                        </div>
                    </th>


                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="node in orderDetails.nodes">

                    <td>
                        <a ng-hide="node.nodeStatus==='DECOMMISSIONED'" href="{{node.fasitLookupUrl}}" target="_blank">
                            <i class="fa fa-external-link"></i>
                            {{node.hostname}}
                        </a>
                            <span ng-show="node.nodeStatus==='DECOMMISSIONED'" class="strikethrough text-muted">
                                <i class="fa fa-chain-broken"></i>
                                {{node.hostname}}
                            </span>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                <span ng-repeat="order in node.orders| orderBy:'created':reverse | filter:orderDetails.id">
                                         <i class="glyphicon glyphicon-folder-open"></i> {{order.id}}
                                         <span class="text-muted">
                                             <i ng-class="{'fa fa-trash' : order.orderType === 'DECOMMISSION',
                                                    'fa fa-pause' : order.orderType === 'STOP',
                                                    'fa fa-play': order.orderType === 'START',
                                                    'fa fa-cogs'  : order.orderType === 'PROVISION'}"/>
                                               {{order.orderType | humanize}}
                                             <small>({{order.created|timeago}})</small>
                                         </span>
                                </span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="order in node.orders| orderBy:'created':reverse" class="small"
                                    ng-class="{'info': order.id === orderDetails.id}">
                                    <a href="#/order_details/{{order.id}}">
                                        <i class="glyphicon glyphicon-folder-open"></i> {{order.id}}
                                        <span class="text-muted">
                                            <i ng-class="{'fa fa-trash' : order.orderType === 'DECOMMISSION',
                                                    'fa fa-pause' : order.orderType === 'STOP',
                                                    'fa fa-play': order.orderType === 'START',
                                                    'fa fa-cogs'  : order.orderType === 'PROVISION'}"/>
                                              {{order.orderType | humanize}}
                                            <small>({{order.created|timeago}})</small>
                                        </span>

                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <a class="tooltipped" data-toggle="tooltip" data-placement="bottom" id="nodeinfo">
                            <i class="fa fa-info-circle"></i>

                        </a>

                        <div class="tooltip-content hide">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    {{node.hostname}}

                                </div>

                                <div class="panel-content">

                                    <table class="table text-primary">
                                        <tbody>
                                        <tr>
                                            <th class="col-sm-2">Data center</th>
                                            <td class="col-sm-10">{{node.datasenter}}</td>
                                        </tr>
                                        <tr>
                                            <th class="col-sm-2">vApp</th>
                                            <td class="col-sm-10 break-word">{{node.vapp}}</td>
                                        </tr>
                                        <tr>
                                            <th class="col-sm-2">Memory</th>
                                            <td class="col-sm-10">{{node.memoryMb}} MB</td>
                                        </tr>
                                        <tr>
                                            <th class="col-sm-2"># CPU</th>
                                            <td class="col-sm-10">{{node.cpuCount}}</td>
                                        </tr>
                                        <tr>
                                            <th class="col-sm-2">Type</th>
                                            <td class="col-sm-10">{{node.middleWareType}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td ng-hide="node.nodeStatus==='DECOMMISSIONED'">
                        <button data-toggle="modal" data-target="#modal"
                                ng-click="model.operation = 'START'; model.nodetarget=[node.hostname]"
                                ng-disabled="!currentUser.authenticated" class="btn btn-info btn-xs"
                                ng-hide="orderDetails.status === 'PROCESSING'">
                            <i class="fa fa-play"/>
                            &nbsp;Start&nbsp;&nbsp;
                        </button>

                        <button data-toggle="modal" data-target="#modal"
                                ng-click="model.operation = 'STOP';model.nodetarget=[node.hostname]"
                                ng-disabled="!currentUser.authenticated" class="btn btn-warning btn-xs"
                                ng-hide="orderDetails.status === 'PROCESSING'">
                            <i class="fa fa-pause"/>
                            &nbsp;Stop&nbsp;&nbsp;
                        </button>

                        <button data-toggle="modal" data-target="#modal"
                                ng-click="model.operation = 'DECOMMISSION';model.nodetarget=[node.hostname]"
                                ng-disabled="!currentUser.authenticated" class="btn btn-danger btn-xs"
                                ng-hide="orderDetails.status === 'PROCESSING'">
                            <i class="fa fa-trash"/>
                            &nbsp;Decommission&nbsp;&nbsp;
                        </button>

                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<div ng-include src="'modalconfirm.html'" ng-controller="ModalController"></div>

<div class="row">
    <div class="col-lg-6 panel-group" id="requestPanel">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="glyphicon  glyphicon-list-alt"/>
                    <a data-toggle="collapse" data-parent="#requestPanel" href="#requestContent"
                       onclick="return false;">
                        Request
                    </a>
                    <span class="pull-right">
                        <button class="btn btn-info btn-xs"
                                ng-show="currentUser.authenticated && orderDetails.orderType == 'PROVISION' && hasEnvironmentClassAccess()"
                                ng-click="copyOrder()">
                            <i class="fa fa-copy"/>
                            Copy
                        </button>
                    </span>
                </h2>
            </div>
            <div id="requestContent" class="panel-collapse collapse in">
                <ul id="requestContentTabs" class="nav nav-tabs">
                    <li class="active"><a href="#form" data-toggle="tab" onclick="return false;"><i
                            class="fa fa-list-alt"/> Form</a></li>
                    <li><a href="#xml" data-toggle="tab" onclick="return false;"><i class="fa fa-code"/>
                        XML</a>
                    </li>
                </ul>
                <div id="tabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="form">
                        <table class="table">
                            <thead></thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in orderDetails.settings" ng-show="value">
                                <th class="col-lg-3">{{key}}</th>
                                <td class="col-lg-9">{{value}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade in" id="xml">
                        <ace-editor ng-model="orderDetails.requestXml" theme="chrome" fontsize=12
                                    readonly=true></ace-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-6 panel-group" id="logPanel">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i ng-hide="polling" class="glyphicon  glyphicon-transfer"/>
                    <i ng-show="polling" class="fa fa-spin fa-refresh"/>
                    <a data-toggle="collapse" data-parent="#logPanel" href="#logContent"
                       onclick="return false;">
                        Log
                    </a>
                                <span class="pull-right">
                                <button ng-hide="polling" class="btn btn-info btn-xs" ng-click="startPoll()">
                                    <i class="glyphicon glyphicon-facetime-video"/>
                                    Start monitoring
                                </button>
                                <button ng-show="polling" class="btn btn-success btn-xs" ng-click="stopPoll()">
                                    <i class="fa fa-spin fa-refresh"></i>
                                    Monitoring
                                    <timer ng-show="polling" countdown="from" interval=1000 autostart="false"
                                           max-time-unit="'minute'">
                                        {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}
                                    </timer>
                                </button>
                                </span>


                </h2>
            </div>
            <div id="logContent" class="panel-collapse collapse in">
                <div class="panel-body" ng-show="statusLog.length===0">
                    (None)
                </div>
                <table class="table" ng-hide="statusLog.length===0"
                       ng-init="predicate = 'created'; reverse = true">
                    <thead>
                    <tr>
                        <td class="col-sm-1">

                            <a ng-click="reverse = predicate == (predicate = 'option') && !reverse"
                               class="btn btn-primary">
                                <i class="fa" ng-class="
                                                        {'fa-sort-amount-asc': !reverse ,
                                                         'fa-sort-amount-desc': reverse
                                                         }"/>
                            </a>

                        <td class="col-sm-3">
                            <div class="input-group">
                                            <span class="input-group-addon">
                                                <a ng-click="reverse = predicate == (predicate = 'created') && !reverse"><i
                                                        class="fa fa-clock-o"/></a>
                                            </span>
                                <input ng-model="searchDate" class="form-control" placeholder="Timestamp">
                            </div>
                        </td>
                        <td class="col-sm-2">
                            <div class="input-group">
                                            <span class="input-group-addon">
                                                <a ng-click="reverse = predicate == (predicate = 'source') && !reverse"><i
                                                        class="glyphicon glyphicon-globe"/></a>
                                            </span>
                                <input ng-model="search.source" class="form-control" placeholder="Source">
                            </div>
                        </td>
                        <td class="col-sm-2">
                            <div class="input-group">
                                            <span class="input-group-addon">
                                                <a ng-click="reverse = predicate == (predicate = 'type') && !reverse"><i
                                                        class="glyphicon glyphicon-tag"/></a>
                                            </span>
                                <input ng-model="search.type" class="form-control" placeholder="Phase">
                            </div>
                        </td>
                        <td class="col-sm-4">
                            <div class="input-group">
                                            <span class="input-group-addon">
                                                <a ng-click="reverse = predicate == (predicate = 'text') && !reverse"><i
                                                        class="fa fa-comment"/></a>
                                            </span>
                                <input ng-model="search.text" class="form-control" placeholder="Message">
                            </div>
                        </td>

                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="log in statusLog | orderBy:predicate:reverse | filter:search | filter:filterDate"
                        ng-class="{'danger': log.option === 'error',
                                               'warning': log.option === 'warning',
                                               'success': log.option === 'success'}">
                        <td><span ng-class="{'alert alert-sm alert-danger' : log.option === 'error',
                                     'alert alert-sm alert-success' : log.option === 'success',
                                     'alert alert-sm alert-warning' : log.option === 'warning',
                                     'alert alert-sm alert-info' : log.option === null

                                     }">
                                    <i ng-class="
                                       {'glyphicon glyphicon-exclamation-sign': log.option === 'error',
                                       'glyphicon glyphicon-flag': log.option === 'warning',
                                       'glyphicon glyphicon-ok': log.option === 'success',
                                       'glyphicon glyphicon-info-sign': log.option === null
                                       }
                                     "/></span></td>

                        <td class="small">{{log.created|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{log.source}}</td>
                        <td>{{log.type}}</td>
                        <td>{{log.text}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>