<div class="form-group" ng-hide="model === undefined">
    <label for="{{fieldId}}" class="col-sm-2 control-label">{{title}}</label>
    <div class="col-sm-4">
        <ui-select theme="bootstrap" ng-model="$parent.model">
            <ui-select-match id="{{fieldId}}" placeholder="Velg {{title}}...">
                {{$parent.model}}
                <i ng-show="busy" class="fa fa-spin fa-refresh"></i>
            </ui-select-match>
            <ui-select-choices repeat="c in choices | filter: $select.search">
                <div ng-bind-html="c | highlight: $select.search"/>
            </ui-select-choices>
        </ui-select>
        <p ng-show="fieldError" class="alert alert-danger">{{fieldError}}</p>
    </div>
</div>

