
.nav, .pagination, .carousel a { cursor: pointer; }

.highlight {
    background-color: #E9E9E9;
}

.error {
    color: red;
}

.btn.disabled, {
    color:red;
    background-color:red;
}

.btn.disabled{
    border-radius: 0;
}
.busy {
	background-image: url(../img/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}