
/**
 * Checkbox Three
 */
.prettyCheckbox {
    width: 120px;
    height: 34px;
    background: #ffffff;
    margin: 0px 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    position: relative;
}

/**
 * Create the text for the On position
 */
.prettyCheckbox:before {
    content: 'Ja';
    position: absolute;
    top: 8px;
    left: 13px;
    height: 2px;
    color: #428cce;
    font-size: 16px;
}

/**
 * Create the label for the off position
 */
.prettyCheckbox:after {
    content: 'Nei';
    position: absolute;
    top: 8px;
    left: 84px;
    height: 2px;
    color: #111;
    font-size: 16px;
}

/**
 * Create the pill to click
 */
.prettyCheckbox label {
    display: block;
    width: 52px;
    height: 22px;
    border-radius: 50px;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 6px;
    z-index: 1;
    left: 12px;
    background: #ddd;
}

/**
 * Create the checkbox event for the label
 */
.prettyCheckbox input[type=checkbox]:checked + label {
    left: 60px;
    background: #428cce;
}

.prettyCheckbox-label {

    float: right;
    height: 100%;
    line-height: 20px;
    padding: 1px 15px 10px 1px;
    text-align: right;
    font-size: smaller;
}