<div class="form-group">
    <label class="col-sm-3 control-label">Miljøklasse</label>

    <div class="col-sm-8 btn-group btn-group-radio" id="envClass">
        <label class="btn btn-primary"
               ng-class="{active: envClass.key === ctrl.data}"
               ng-repeat="envClass in ctrl.envClasses" ng-disabled="!envClass.hasAccess">
            <input type="radio"
                   required
                   value="{{envClass.key}}"
                   ng-model="ctrl.data" ng-show="envClass.hasAccess"
                   ng-click="ctrl.onSelect()">{{ envClass.name }}

            </input>
        </label>

    </div>
</div>