<div class="col-lg-6" ng-controller="orderformMainController as ctrl">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                  <orderform-environment-classes model="ctrl.data.envClass" after="ctrl.changeEnvironmentClass()"></orderform-environment-classes>
                    <orderform-zones model="ctrl.data.zone" after="ctrl.after()"></orderform-zones>
                </div>


                <button ng-click="envClass='t'" >TEST</button>
                <button ng-click="ctrl.after()">LOGIT</button>
            </form>
        </div>
        EnvClass er {{ ctrl.envClass}} / Zone  {{ ctrl.zone}}

    </div>
</div>