<div class="form-group" ng-form="subForm">
    <label class="col-sm-3 control-label">Miljønavn</label>

    <div class="col-sm-8">
        <ui-select theme="bootstrap" on-select="ctrl.onSelectedItem($item)" ng-model="ctrl.data" required="">
            <ui-select-match id="environmentName" placeholder="Velg miljø..." >{{$select.selected.name}}
                <span ng-show="$select.selected.multisite" class="alert alert-sm alert-info" ng-bind-html="'MULTISITE'"></span>


                <i ng-show="busies.environmentName" class="fa fa-spin fa-refresh"></i>
            </ui-select-match>
            <ui-select-choices
                    repeat="env.name as env in ctrl.choices[ctrl.envClassKey] | filter: $select.search">
                <span ng-bind-html="env.name | highlight: $select.search"></span>
                <span ng-show="env.multisite" class="badge pull-right" ng-bind-html="'MULTISITE'"></span>

            </ui-select-choices>
        </ui-select>
        <p ng-show="formInfos.multisite" class="alert alert-info">Miljø{{settings.environmentName}} vil blibestilt som multisite</p>
        <p ng-show="formErrors.environmentName_error" class="alert alert-danger">{{formErrors.environmentName_error}}</p>
        <p ng-show="formErrors.deploymentManager" class="alert alert-danger">{{formErrors.deploymentManager}}</p>
    </div>

    <div class="col-sm-1" ng-show="ctrl.showValidation">
        <orderform-validation type="success" ng-show="subForm.$valid"></orderform-validation>
        <orderform-validation type="warning" validation-text="'Fyll ut miljø'"ng-show="subForm.$invalid"></orderform-validation>
    </div>
</div>