
<label class="col-sm-3 control-label">Miljøklasse</label>

<div class="col-sm-8 btn-group" id="envClass">
    <button type="button" class="btn btn-small btn-primary"
            ng-repeat="envClass in ctrl.envClasses"
            ng-class="{active: envClass.key === ctrl.data}"
            ng-click="ctrl.updateModel(envClass.key)"
            ng-disabled="!envClass.hasAccess">
        {{envClass.name}}
    </button>


    <input id="data" placeholder="data goes here" type="text" ng-model="ctrl.data">
</div>
