<div class="form-group">
	<label class="col-sm-3 control-label">&nbsp;</label>

	<div class="col-sm-8">

		<div class="btn-group pull-right">
			<button id="startBtn"  ng-disabled="ctrl.busy || ctrl.disabled"
				class="btn btn-sm btn-success" ng-click="ctrl.submit('START')" type="button">
				<i class="fa fa-play"></i> Start <i class="fa fa-spinner fa-spin" ng-show="ctrl.busy"></i>
			</button>
			<button id="stopBtn"  ng-disabled="ctrl.busy || ctrl.disabled"
				ng-disabled="!decommissionForm.$valid ||!currentUser.superUser "
				class="btn btn-sm btn-warning"  ng-click="ctrl.submit('STOP')" type="button">
				<i class="fa fa-pause"></i> Stop <i class="fa fa-spinner fa-spin" ng-show="ctrl.busy"></i>
			</button>

			<button id="deleteBtn" ng-disabled="ctrl.busy || ctrl.disabled"
				class="btn btn-sm btn-danger"  ng-click="ctrl.submit('DELETE')" type="button">
				<i class="fa fa-trash"></i> Delete <i class="fa fa-spinner fa-spin" ng-show="ctrl.busy"></i>
			</button>
			
		</div>
	</div>
</div>

