<div ng-controller="orderFormController">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group" ng-hide="isEmpty(formErrors.general)">
                        <label class="col-sm-3 control-label">&nbsp;</label>

                        <div class="col-sm-8">
                            <p id="alert" class="alert alert-danger" ng-repeat="error in formErrors.general">
                                {{error}}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">&nbsp;</label>

                        <div class="col-sm-8">
							<menu-item image="'openam.png'" header="'LDAP'" description="'Service user'" order-key="'adServiceUser'"
								> </menu-item>
						</div>
                    </div>

                    <div class="form-group" ng-hide="settings.environmentClass === undefined || prepared">
                        <label class="col-sm-3 control-label">Milj&oslash;klasse</label>

                        <div class="col-sm-8 btn-group" id="environmentClass">
                            <button type="button" class="btn btn-small btn-primary"
                                    ng-repeat="environmentClass in choices.environmentClasses"
                                    ng-model="settings.environmentClass"
                                    ng-class="{active: environmentClass == settings.environmentClass}"
                                    ng-click="changeEnvironmentClass(environmentClass)"
                                    ng-disabled="!hasEnvironmentClassAccess(environmentClass)">
                                {{choices.environmentClassNames[environmentClass]}}
                            </button>
                        </div>
                    </div>


                    <div class="form-group" ng-hide="settings.zone === undefined || prepared">
                        <label for="zones" class="col-sm-3 control-label">Sone</label>

                        <div class="col-sm-8 btn-group" id="zones">
                            <button type="button" class="btn btn-small btn-primary" ng-repeat="zone in choices.zones"
                                    ng-model="settings.zone" ng-class="{active: zone == settings.zone}"
                                    ng-click="changeZone(zone)">
                                {{zone}}
                            </button>
                        </div>
                    </div>

                    <div class="form-group" ng-hide="settings.applicationMappingName === undefined || prepared">
                        <label class="col-sm-3 control-label">Applikasjon</label>

                        <div class="col-sm-8">
                            <ui-select theme="bootstrap" ng-change="changeApplicationMapping()"
                                       ng-model="settings.applicationMappingName">
                                <ui-select-match id="applicationMappingName" placeholder="Velg applikasjon...">
                                    {{$select.selected.name}}
                                    <i ng-show="busies.applicationMappingName" class="fa fa-spin fa-refresh"></i>
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="app.name as app in choices.applications | filter: $select.search">
                                    <div ng-bind-html="app.name | highlight: $select.search">H</div>
                                    <small ng-hide="app.applications === undefined"
                                           ng-bind-html="app.applications"></small>
                                </ui-select-choices>
                            </ui-select>
                            <p ng-show="formErrors.applicationMapping_error" class="alert alert-danger">
                                {{formErrors.applicationMapping_error}}</p>
                        </div>
                    </div>



            


                    <hr/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" ng-class="{busy: busies.orderSend}">&nbsp;</label>

                        <div class="col-sm-8" >
                            <button id="sendButton" ng-disabled="orderSent" class="btn btn-success pull-right"
                                    ng-click="submitOrder()"
                                    type="button">Bestill
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


